//=== BLOCK-1
section.block-1.sec
  .container
    h2.sec-title.sec-title--red Вы получите:
    .row
      .col
        .block
          .block__img
            img(src="img/genius/memory/employee.svg", alt="employee")
          .block__desc #[strong Технологию] быстрого запоминания #[br] любой информации.
      .col
        .block
          .block__img.block__img--mini
            img(src="img/genius/memory/battery.svg", alt="battery")
          .block__desc #[strong Технику] перевода информации #[br] из кратковременной #[br] в долговременную память.

      .col
        .block
          .block__img
            img(src="img/genius/memory/brainstorm.svg", alt="brainstorm")
          .block__desc #[strong Упражнения] для развития памяти #[br] и внимания.

    .block-more
      p На вебинаре мы вместе с Вами запомним десятки китайских иероглифов, #[span иностранных слов] и единиц связанных данных
    .btn-block
      a.btn.block-1__btn(href="#block-3" data-target="#block-3") Я помню всё, что мне нужно, зачем развивать память?
