//=== BLOCK-3
section.block-3#block-3.sec
  .container
    .block-wrap
      h2.block-3__title Хорошая память улучшает:
      ul
        li умение учиться,
        li навык принятия решений,
        li навык работы с информацией,
        li воображение и творческую деятельность,
        li внимание,
        li мышление.
      .more-info Хотите узнать, как это связано?
      .btn-block
        button.bnt.block-3__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1502184674.6012792956&amp;doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&amp;activation=1&amp;doneurl2=http%3A%2F%2Fadvance-club.ru%2F/thanks/thanks_to/") Хочу узнать