//=== BLOCK-4
section.block-4.sec
  .container
    .block-wrap
      //=== name
      p.name.name-1 А ещё мы разберём нейрофизиологическую основу памяти, чтобы Вы понимали #[span что и как влияет на запоминание.]
      //=== name
      p.name.name-2 А главное Вы узнаете, по какому алгоритму нужно заниматься месяц по часу в день, чтобы #[span запоминать в 2-3 раза больше,быстрее и надолго.]