//=== BLOCK-5
section.block-5.sec
  .container
    .block-content
      p Этот вебинар о том, как запоминать большие объёмы информации быстро, точно и надолго!
      .btn-block
        button.btn.block-5__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1502184674.6012792956&amp;doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&amp;activation=1&amp;doneurl2=http%3A%2F%2Fadvance-club.ru%2F/thanks/thanks_to/") Занять место