//=== About
section.about.sec
  .container
    .about-block
      h2.about__name Что будет на тестировании

      h3.about__desc-name — будет интересно!
      p.about__desc
        | Тестирование проходит в формате квеста по станциям, 
        | где ученик выполняет различные блоки в разных 
        | аудиториях и с разными преподавателями.
        | Такой формат дает возможность получить максимум 
        | информации об уровне навыков.


    .about-block
      h2.about__name Что получите 
      h3.about__desc-name — Конкретику!
      p.about__desc
        | В результате тестирования Вы не просто узнаете 
        | общий уровень подготовки ребенка, но и какие темы 
        | и аспекты у ребенка являются наиболее и наименее 
        | успешными. И, конечно, рекомендации по отработке 
        | малоразвитых языковых навыков.

