//=== Block
section.block.sec
  .container
    .row
      .col
        .block
          .block__img
            img(src="img/eng/eng_testing/test.svg", alt="testing")
          p.block__desc Лексико-
            br
            | грамматический 
            br
            | тест
      .col
        .block
          .block__img
            img(src="img/eng/eng_testing/speaker.svg", alt="testing")
          p.block__desc Аудирование
      .col
        .block
          .block__img
            img(src="img/eng/eng_testing/open-book.svg", alt="testing")
          p.block__desc Чтение
      .col
        .block
          .block__img
            img(src="img/eng/eng_testing/notes.svg", alt="testing")
          p.block__desc Письмо
      .col
        .block
          .block__img
            img(src="img/eng/eng_testing/chat.svg", alt="testing")
          p.block__desc Устное 
            br
            | тестирование 
            br
            | с преподавателем