//=== Jumbotron
.jumb.jumb__eng-testing
  .container
    .jumb__logo-wrap.jumb__logo-wrap--white
      .logo
        a(href="http://advance-club.ru")
          img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    //=== Jumb content
    .jumb__content
      h1.jumb__title Комплексное тестирование

      p.jumb__desc на определение уровня языка перед курсом  &#171;Детский английский&#187;
      time.jumb__date(datetime="2017-07-24") 8 июля, 20:00
      .jumb__address Санкт-Петербург, #[span ул. Таврическая, 2]

      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1499092479.6095832923&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Запись на тестирование

      .jumb__info Длительность теста: 2-3 часа в зависимости от возраста учащегося
        br
        span Количество мест ограничено.
        br
        | Посещение только по предварительной записи.
