//=== Work
section.work
  .container
    .work__wrap
      .work__author
        img(src="img/eng/eng_testing/girl-engbook.png" alt="girl-engbook")
      .work__content
        .work__name Как это работает

        .work__info Каждый класс школы соответствует определенному уровню английского 
          br
          | и, как следственно, определенному международному экзамену:

        ul.work__list
          li #[b 6-7] класс – #[b KET,]
          li #[b 8-9] класс – #[b PET\ОГЭ,]
          li #[b 10-11] класс -  #[b FCE\ЕГЭ.]

        .work__info Таким образом, в зависимости от того, в каком классе учится ребенок, содержание теста будет включать набор типовых заданий, соответствующих уровню, который ребенок должен в идеале демонстрировать.  

        .work__info Лексико-грамматический тест при этом является универсальным для всех уровней от beginner до advanced и позволит наиболее четко установить, каким уровнем владеет ребенок на данный момент.  В то время как прохождение остальных блоков тестирования выявит нюансы и покажет полную картину знаний, умений и навыков у конкретного учащегося.



