//=== About
section.about.sec
  .container
    h2.sec-title За время тренинга Вы:
    .row
      .col
        .block
          .block__img
            img(src="img/slova/icons/tasks.svg", alt="about")
          p.block__name #[strong.red-class Узнаете и проработаете]
            br
            | “Технику запоминания 
            br
            | 300 иностранных слов
            br
            | в день”
      .col
        .block
          .block__img
            img(src="img/slova/icons/teacher.svg", alt="about")
          p.block__name #[strong.red-class Потренируете новый навык]
            br
            | с преподавателем Advance 
            br
            | и будете готовы применять 
            br
            | его самостоятельно
      .col
        .block
          .block__img
            img(src="img/slova/icons/guarantee.svg", alt="about")
          p.block__name #[strong.red-class Гарантированно выучите]
            br
            | минимум 500 новых 
            br
            | иностранных слов или 
            br
            | мы вернем Вам деньги!
