//=== About
section.about.sec
  .container
    h2.sec-title За время курса Вы:
    .row
      .col
        .block
          .block__img
            img(src="img/slova/icons/doc-clock.svg", alt="doc-clock")
          p.block__name #[strong.red-class Узнаете и проработаете] 
            | “Технику запоминания 
            br
            | 100 иностранных слов
            br
            | в день”
      .col
        .block
          .block__img
            img(src="img/slova/icons/consulting.svg", alt="consulting")
          p.block__name #[strong.red-class Потренируете новый навык] 
            | с преподавателем Advance 
            br
            | и будете готовы применять 
            br
            | его самостоятельно
      .col
        .block
          .block__img
            img(src="img/slova/icons/test-300.svg", alt="test-300")
          p.block__name #[strong.red-class Гарантированно выучите] 
            | минимум 500 новых 
            br
            | иностранных слов или 
            br
            | мы вернем Вам деньги!
