//=== Block
section.block.sec
  h2.sec-title Почему Advance
  .container
    .ifram-wrap
      .iframe-block
        iframe(src="https://www.youtube.com/embed/7gBLKnPgocE" frameborder="0" allowfullscreen)