//=== BLOCK-3
section.block-3
  .container
    .block-3__content
      h2.sec-title На какой язык рассчитан курс?
      p.block-3__desc В рамках курса мы отрабатываем технологии на примере слов из английского и испанского языков. Однако, Вы можете учить слова любого иностранного языка, на котором Вы можете уверенно читать. Поэтому предлагаем Вам принести списки необходимых слов с собой