//=== Block-2
section.block-2.sec
  .container
    .block-2__wrap
      .block-2__content
        h2.block-2__title Что дает курс?
        p.block-2__desc За время курса участники:
        .row
          .col
            .block__wrap.block__wrap--1
              span.name Получат надежную технику
              br
              span.text запоминания иностранных слов
          .col
            .block__wrap.block__wrap--2
              span.name Научатся усваивать
              br
              span.text новый иностранный язык в разы быстрее
          .col
            .block__wrap.block__wrap--3
              span.name Существенно увеличат
              br
              span.text свой словарный запас
          .col
            .block__wrap.block__wrap--4
              span.name Разовьют
              span.text навык запоминания для любой новой сферы
          .col.col-full
            .block__wrap.block__wrap--5
              span.name  Выучат по несколько сотен
              span.text английских и испанских слов (можно принести собственные списки слов и выучить их навсегда)
        .btn-block
          button.btn.block-2__btn.js-getModal(data-action="") Выучить 1000 слов