//===  calendar
section.calendar.sec
  .container
    h2.sec-title Расписание
    .calendar__table.calendar__table--shadow
      table
        tbody
          tr
            th понедельник
            th вторник
            th среда
            th четверг
            th пятница
            th суббота
            th воскресенье
          //=== Week
          tr.calendar__week
            td.calendar__day
              span.date 31
              span.month июля
            td.calendar__day
              span.date 1
              span.month августа
            td.calendar__day
              span.date 2
              span.month августа
            td.calendar__day
              span.date 3
              span.month августа
            td.calendar__day.calendar__day--theory-day
              .td-inner
                span.date 4
                span.month августа
                span.time 19:00-22:00
            td.calendar__day.calendar__day--theory-day
              .td-inner
                span.date 5
                span.month августа
                span.time 11:00-19:00
            td.calendar__day.calendar__day--theory-day
              .td-inner
                span.date 6
                span.month августа
                span.time 11:00-19:00

          //=== Week
          tr.calendar__week
            td.calendar__day
              span.date 7
              span.month августа
            td.calendar__day.calendar__day--practice-day
              .td-inner
                span.date 8
                span.month августа
                span.time 19:00-22:00
            td.calendar__day.calendar__day--practice-day
              .td-inner
                span.date 9
                span.month августа
                span.time 19:00-22:00
            td.calendar__day.calendar__day--practice-day
              .td-inner
                span.date 10
                span.month августа
                span.time 19:00-22:00
            td.calendar__day
              span.date 11
              span.month августа
            td.calendar__day
              span.date 12
              span.month августа
            td.calendar__day
              span.date 13
              span.month августа

          //=== Week
          tr.calendar__week
            td.calendar__day
              span.date 7
              span.month августа
            td.calendar__day
              span.date 8
              span.month августа
            td.calendar__day
              span.date 9
              span.month августа
            td.calendar__day
              span.date 10
              span.month августа
            td.calendar__day
              span.date 11
              span.month августа
            td.calendar__day
              span.date 12
              span.month августа
            td.calendar__day
              span.date 13
              span.month августа

    //=== calendar info
    .cal-info
      .cal-info__block.cal-info__block--theory
        span.cal-info__color
        span.cal-info__name теория
      .cal-info__block.cal-info__block--practice
        span.cal-info__color
        span.cal-info__name практика