//=== Cost
section.cost.sec
  .container
    h2.cost__title Экспресс-тренинг
      br
      span «Техника запоминания 500 иностранных слов в день»
    .cost__block
      .cost__new 5 900 #[span.cost__rf &#8381;]
      .cost__bonus #[strong + бонус:] скидка на интенсив-погружение 
        a(href="http://advance-club.ru/speak_spb/") «Разговорный английский»
    .btn-block
      button.btn.cost__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=   &doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Выучить 500 слов за 1 день