//=== Cost
section.cost.sec
  .container
    p.cost__over-title Приходите и получите надежную базу для ускоренного освоения любого языка!
    h2.cost__title
      | Курс-интенсив
      br
      span «Запоминание 1000 иностранных слов #[span за неделю]»
    .cost-block
      .cost__old 9 900 #[span.cost__rf &#8381;]
      .cost__new 6 900 #[span.cost__rf &#8381;]
    .btn-block
      button.btn.cost__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=   &doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Занять место на курсе