//=== Tabs
article.tab.sec
  .container
    .tab__wrap
      ul.tab__list
        li.tab__list-item.tab__item--active #[span О системе Николая Ягодкина]
        li.tab__list-item #[span Идеолог и автор технологий Advance Николай Ягодкин]

      .tab__block-list

        .tab__block-item.js-item.tab__item--active
          ul
            li.item-check Система объединила в себе самые эффективные, из существующих на данный момент в мире, 
              br
              | инструменты и алгоритмы обучения, запоминания и работы с информацией
   
            li.item-check Отзывов о результатах применения наших технологий собрали больше,
              br
              | чем обо всех других авторах, методиках, школах данного направления вместе взятых
   
            li.item-check Основа эффективной работы системы — «измеримость» результатов и «технологичность»
              br
              | процесса на всех этапах
   
            li.item-check По нашей системе обучились более #[span 30 000] человек. 
              br
              | Среди них — министры и их дети, руководители крупнейших российских компаний, 
              br
              | мировые чемпионы, а также дети известных актеров, политиков, ученых и многие другие

        .tab__block-item.js-item.tab__block-item--author
          .author
            .col.col-first
                .author__block
                  img(src="img/7Tech/photo-NJ.jpg" alt="author")
            .col.col-last
              .author__block
                h3.author__block-name Николай Ягодкин
                p.author__block-desc Самый известный в России специалист по технологии обучения и изучения языков
                ul.author__list
                  li #[strong Закончил 2 высших образования: #[span математическое и] педагогическое, специалист по инновационным методикам обучения]

                  li #[strong Основатель и владелец образовательной компании Advance, ] полные программы которого прошли более #[span 50 000] человек по всему миру
        
                  li #[strong Отзывов о результатах применения его технологий только ВКонтакте больше #[span 10 000]]
        
                  li Репортажи о его технологиях и результатах их применения показывали #[strong по Первому каналу, НТВ] и д.р.
        
                  li #[strong Консультирует министров образования и обучает парламенты зарубежных стран]
       
                  li Среди частных учеников #[strong министры, депутаты, ректора и профессоры, президенты правления крупнейших компаний и банков и их дети]

    .tab__wrap--mob(hidden)
      .tab__mob-block
        .tab__list-name.js-nameMob О системе Николая Ягодкина
        .tab__block-item
          ul
            li.item-check Система объединила в себе самые эффективные, из существующих на данный момент в мире, 
              br
              | инструменты и алгоритмы обучения, запоминания и работы с информацией.
   
            li.item-check Отзывов о результатах применения наших технологий собрали больше,
              br
              | чем обо всех других авторах, методиках, школах данного направления вместе взятых.
   
            li.item-check Основа эффективной работы системы — «измеримость» результатов и «технологичность»
              br
              | процесса на всех этапах.
   
            li.item-check По нашей системе обучились более #[span 30 000] человек. 
              br
              | Среди них — министры и их дети, руководители крупнейших российских компаний, 
              br
              | мировые чемпионы, а также дети известных актеров, политиков, ученых и многие другие.

      .tab__mob-block
        .tab__list-name.js-nameMob Идеолог и автор технологий Advance Николай Ягодкин
        .tab__block-item
          .author
            .col.col-first
                .author__block
                  img(src="img/7Tech/photo-NJ.jpg" alt="author")
            .col.col-last
              .author__block
                h3.author__block-name Николай Ягодкин
                p.author__block-desc Самый известный в России специалист по технологии обучения и изучения языков.
                ul.author__list
                  li #[strong Закончил 2 высших образования: #[span математическое и] педагогическое, специалист по инновационным методикам обучения]

                  li #[strong Основатель и владелец образовательной компании Advance, ] полные программы которого прошли более #[span 50 000] человек по всему миру
        
                  li #[strong Отзывов о результатах применения его технологий только ВКонтакте больше #[span 10 000]]
        
                  li Репортажи о его технологиях и результатах их применения показывали #[strong по Первому каналу, НТВ] и д.р.
        
                  li #[strong Консультирует министров образования и обучает парламенты зарубежных стран]
       
                  li Среди частных учеников #[strong министры, депутаты, ректора и профессоры, президенты правления крупнейших компаний и банков и их дети]

script.
  $('.tab__list-item').click(function(e) {
    var tabIndex  = $(this).index();
    $(this).addClass('tab__item--active').siblings().removeClass('tab__item--active');
    $('.js-item').eq(tabIndex).addClass('tab__item--active').siblings().removeClass('tab__item--active');
  });

  $('.js-nameMob').click(function(e) {
    var  elemParent = $(this).parent('.tab__mob-block');
          siblingsElem = $(this).parent('.tab__mob-block').siblings().find('.tab__block-item');
    elemParent.toggleClass('tab__mob--active').siblings().removeClass('tab__mob--active');
    elemParent.find('.tab__block-item').slideToggle(300);
    siblingsElem.slideUp(300);
  });