//=== Author
section.author
  .container
    .row
      .col.col-first
        .author__block 
          img(src="img/children/photo.png" alt="author")
      .col.col-last
        .author__block
          h2.author__title Ведущий вебинара
          h3.author__block-name Николай Ягодкин –
          p.author__block-desc Идеолог Центра образовательных технологий Advance
          ul.author__list

            li #[strong Самый известный в России] специалист по технологиям обучения #[span и изучения] языков

            li #[strong 2 высших педагогических образования,] специалист по инновационным методикам обучения.
  
            li #[strong Сертифицированный тренер] Российской Психотерапевтической Ассоциации (РПА) и Института им. Бехтерева.
  
            li Преподавал #[strong в крупнейших ВУЗ]ах (СПбГУ, ФИНЭК, ИТМО, СЗАГС, Политех #[span и др.)] #[strong и #Южной Корее]] (университет Кемён Дэ)
  
            li Сюжеты о его методиках показывали по #[strong Первому каналу, НТВ] #[span и другим] каналам.
 
            li Его полные программы прошли #[strong более #[span 30 000] человек,] бесплатные вебинары - #[strong более #[span 100 000.]]

            li Входит #[span в #[strong ТОП-5]] молодых миллионеров премии Делового Петербурга.
          