//=== BLOCK-1
section.block-1.sec
  .container
    h2.sec-title.sec-title--red Этот курс для Вас, если:
    .row
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_mini/block-1/boy-with-concealing-face.svg", alt="boy-with-concealing-face")
          .block__desc Вы никогда не пробовали 
            br
            | изучать английский

      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_mini/block-1/boy-with-sleeping-face.svg", alt="boy-with-sleeping-face")
          .block__desc Вам кажется, 
            br
            | что английский 
            br
            | учить долго
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_mini/block-1/discontent-boy-face.svg", alt="discontent-boy-face")
          .block__desc Вы не знаете 
            br
            | с чего начать учиться 
            br
            | английскому

      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_mini/block-1/shock-face-with-drop.svg", alt="shock-face-with-drop")
          .block__desc Вам кажется, 
            br
            | что Ваш мозг отказывается 
            br
            | понимать английский язык
