//=== COST
section.cost.sec
  .container
    h2.cost__title Начните изучать английский
      br
      | всего за #[span 6 900 #[span.cost__rf &#8381;]]
    .btn-block
      button.btn.cost__btn.js-getModal(data-action="") Хочу на курс