//=== Jumb
section.jumb.jumb--eng-mini.sec
  .container
    .jumb__main-desc
      h2.jumb__over-title Мини-курс
      h1.jumb__title Английский для начинающих

      .date-info
        time.jumb__date.jumb__date--calendar(datetime="2017-08-19") 19-26 августа 2017

        .jumb__address #[i] Санкт-Петербург, #[a(href="#map" data-target="#map") ул. Таврическая, 2]

      p.jumb__desc Начните английский с низкого старта!

      .jumb__cost
        span.cost__new 6 900 #[span.cost__rf &#8381;]
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="") Пойду на курс!