//=== LIST
section.list.sec
  .container
    h2.sec-title Расписание:
    .row
      .col
        .list-block__wrap
          .date 19
          .month августа
          .time 11:00-16:00
      .col
        .list-block__wrap
          .date 20
          .month августа
          .time 11:00-16:00
      .col
        .list-block__wrap
          .date 22
          .month августа
          .time 19:00-22:00
      .col
        .list-block__wrap
          .date 24
          .month августа
          .time 19:00-22:00
      .col
        .list-block__wrap
          .date 26
          .month августа
          .time 11:00-16:00