//=== DESC
section.main-desc
  .desc-block.desc-block--about
    h3 О курсе

    p Курс рассчитан на #[b 30 астрономических часов], включая перерыв на обед, #[b 5 дней по 6 часов]. 
      br
      | Начало занятий – 10:00, окончание – 16:00. 
    p Курс проводится на следующие возрастные группы: #[b младшая – 5-6 класс, средняя – 7-8 класс, старшая – 9-11 класс]. Организаторы оставляют за собой право объединять учащихся в две возрастные группы – 5-8, 9-11.
    p Курс “Боевое крещение” доступен #[b только после прохождения] какой-либо из ступеней курса «Учись Учиться» (1-3 ступени), рекомендовано прохождение курса после каждой из ступеней
  .desc-block.desc-block--content
    h3 Содержание
    strong Курс «Боевое крещение» состоит из 2 частей: теоретической и практической. 

    p #[b Теоретическая часть] занимает около 5% курса, то есть порядка 2 академических часов. 
      br
      | #[b Теоретическая часть] включает в инструкцию относительно «разбора учебника и работы с определениями и формулами. 
    p #[b Практическая часть] делится в пропорции 1/6, где 1 – это время на повторения технологий из курса развития памяти, которые есть на всех ступенях курса «Учись Учиться», а 6 – непосредственная работа по «разбору» учебной литературы по технологиям Advance.
    p #[b Разбор учебной литературы] происходит методом выделения «сита», и эта технология излагается на курсах и в многочисленных вебинарах Николая Ягодкина.
  .desc-block.desc-block--result
    h3 Итоги курса
    p #[b Среди итогов курса можно выделить следующие:]
      br
      | - поставленный навык изучения определений, терминов, научных понятий;
      br
      | - умение выделить структуру учебной литературы и изучить основное содержание предмета на уровне школьной программы для школьников соответствующего возраста, учебно-методической литературы для взрослых и студентов;
    p В среднем #[b школьники старших классов] за 30 часов успевают отработать с 2-4 учебниками по предметам, не требующим решения задач. Среди приоритетных дисциплин: биология, география, геометрия (теоретическая часть), история, обществознание, химия. 
    p Школьники средней школы успевают освоить годовую программу по 1-2 предметам.