//=== FEEDBACK
section.feedback
  .content-wrap
    .name-block
      .sec-name отзывы
    .fb-block
      .fb-author
        img(src="img/prod_2/author/author-1.png", alt="Курс Боевое крещение")
      .fb-author-desc
        .name Ирина Татаринова
        .desc Мы с мужем приобрели Ваши курсы по развитию памяти, занимаемся вместе и очень довольны своими успехами. Спасибо Вам!

    .fb-block
      .fb-author
        img(src="img/prod_2/author/author-2.png", alt="Курс Боевое крещение")
      .fb-author-desc
        .name Татьяна Челпанова
        .desc У меня дочка в 8 классе. Учится хорошо, вообще была отличницей, но в последний год нагрузка и требования учителей возросли. Для нас курс "Учись учиться" стал просто находкой! Летает, улыбается каждый день! Говорит "Это мои лучшие каникулы".
    .fb-block
      .fb-author
        img(src="img/prod_2/author/author-3.png", alt="Курс Боевое крещение")
      .fb-author-desc
        .name Екатерина Живилова
        .desc Моей дочери 12 лет. Наступила необходимость найти интерес к обучению, и к огромному счастью мы попали в школу Ягодкина на курс "учись учиться". Я очень благодарна учителям и всем участникам этой программы. 
