//=== JUMB
section.jumb
  .jumb-main
    .jumb-left
      h1 Курс #[strong «Боевое крещение»]
      p Специально для студентов курса «Учись учиться»
        br
        | Тут краткое описание курса, буквально на пару предложений или три строки.
    .jumb-right
      .jumb-cost 13 000 #[span.cost__rf &#8381;]
      .btn-block
        button.btn.jumb__btn.js-getModal Купить курс
      .btn-block
        a.jumb__card(href="#~") Купить в кредит