//=== TEACHER
section.teacher
  .content-wrap
    .name-block
      .sec-name курс ведут
    .teacher-block
      .tch-img
        img(src="img/prod_2/teacher/prepod-1.png", alt="")
      .tch-desc
        .name Илья Исаков
        ul.desc
          li 2 высших образования: математическое #[span и педагогическое]
          li Cпециалист по инновационным методикам обучения
          li Основатель и владелец центра образовательных технологий Advance
    .teacher-block
      .tch-img
        img(src="img/prod_2/teacher/prepod-2.png", alt="")
      .tch-desc
        .name Артур Шек
        ul.desc
          li 2 высших образования: математическое и педагогическое
          li Cпециалист по инновационным методикам обучения
          li Основатель и владелец центра образовательных технологий Advance