//=== BLOCK-3
section.block-3.sec
  .container
    h2.sec-title.sec-title--red Это мероприятие для Вас, если Вы
    .row
      .col
        .block
          .desc.desc-1 #[strong Не знакомы с технологиями Advance —] ведь за несколько часов сможете узнать о самых эффективных в мире технологиях обучения, работы #[span с информацией] и постановки навыков.
      .col
        .block
          .desc.desc-2 #[strong Частично знакомы #[span с технологиями] Advance #[span (что-то проходили)] —]  потому что расширите свои знания и повысите эффективность уже освоенного, так как все технологии взаимосвязаны и дают синергетический эффект. 
      .col
        .block
          .desc.desc-3 #[strong Прошли все программы #[span и применяете] навыки #[span в жизни] —] ведь вы узнаете последние разработки нашей команды и внедрите их в свою практику. Каждая новая программа совершеннее предыдущей.

      .col
        .block
          .desc.desc-4 #[strong Следите за тенденциями в образовании,] потому что мы собрали лучшее со всего мира и расширили своими разработками. 


    .more-info Начните применять технологии и повысьте свою эффективность!