//=== BLOCK-2
section.block-2
  .container
    h2.sec-title О чём будем говорить:
    .row
      //=== col
      .col
        .block-wrap
          .name.name-1 Бывают ли глупые дети? 
          ul.block-list
            li Почему одни дети любят учиться, а другие нет?
            li Что мешает ребёнку хорошо учиться, и как это преодолеть?
            li Как, мотивируя ребёнка, не отбить желание к учёбе?
            li Какие действия ни в коем случае нельзя применять для мотивации?
            li #[strong Можно ли за две недели освоить годовую программу школьного предмета?]
            li #[strong Как учиться без репетиторов, и чем это лучше?]
      //=== col
      .col
        .block-wrap
          .name.name-2 «Формулы не даются, 
            br
            | зато хорошо рисует»
          ul.block-list
            li Как возникают любимые и нелюбимые предметы, #[span и как управлять] этим процессом?
            li Как сделать так, чтобы ребёнок с удовольствием учил все предметы?
            li Как построить процесс обучения, чтобы ребёнку было полезно и легко учиться?
            li Как привить любовь к обучению и сформировать желание учиться?
            li #[strong Каких успехов может достичь ребёнок в обучении при правильном подходе?]
            li #[strong Как замотивировать ребёнка на изучение английского языка?]

    .row
      //=== col
      .col-min
        .block-wrap
          .name.name-3 Почему не работает 
            br
            | мотивация 
            br
            | на собственном 
            br
            | примере?

          ul.block-list
            li Чем отличается мотивация ребёнка #[span от мотивации] взрослого?
            li Почему многие «взрослые» способы мотивации не работают на детях?

      //=== col
      .col-min
        .block-wrap
          .name.name-4 Если ребенок не хочет 
            br
            | учиться

          ul.block-list
            li Можно ли мотивировать деньгами #[span и как это] сделать правильно?
            li Как пробудить у ребёнка мотивацию #[span к любому] действию?
            li Как замотивировать ребёнка самостоятельно выполнять домашнее задание?
            li #[strong Можно ли сделать так, чтобы хотелось и получалось учиться?]

      //=== col
      .col-min
        .block-wrap
          .name.name-5 Как зависит будущее 
            br
            | ребёнка от родителей?

          ul.block-list
            li Чем родители могут помочь ребёнку в обучении и развитии?
            li Как правильно воспитывать ответственность и проактивность?
            li Как ребёнок выбирает будущую профессию, и как помочь сделать этот выбор осознанным?
            li #[strong Можно ли научить учиться ребёнка один раз на всю жизнь?]
    .btn-block
      button.btn.block-2__btn.js-getModal Получить ответы
