//=== BLOCK-2
section.block-2.block-2-2.sec
  .container
    h2.sec-title.sec-title--red Вы узнаете:
    .row
      .col
        .desc.desc-1 Как можно тренировать интеллектуальные способности в повседневной жизни.
      .col
        .desc.desc-2 Какие упражнения позволят улучшить память и внимание.

      .col
        .desc.desc-3 Как правильно читать книги и тексты для развития памяти и интеллекта
      .col 
        .desc.desc-4 Как существенно повысить эффективность любой работы и обучения
      .col
        .desc.desc-5 Как выстраивать рабочий и учебный процессы для максимальной эффективности
      .col
        .desc.desc-6 Как ставить новые и улучшать уже имеющиеся учебные и рабочие навыки
      .col
        .desc.desc-7 Как построить обучение и работу так, чтобы быстро развивались интеллектуальные способности
      .col
        .desc.desc-8 Что больше всего влияет #[span на «интеллектуальную»] продуктивность #[span и выносливость]
      .col
        .desc.desc-9 Какими способами можно оценить интеллектуальные способности #[span и какие] они бывают
      .col
        .desc.desc-10 Насколько можно развить интеллектуальные способности занимаясь по 30 минут в день #[span в транспорте]
      .col
        .desc.desc-11 Какие техники увеличивают скорость прочтения текстов при сохранении восприятия
    .btn-block
      button.btn.block-2__btn.js-getModal Получить ответы