//=== BLOCK-2-3
section.block-2
  .container
    h2.sec-title.sec-title--red Вопросы, на которые вы получите ответы:
    .row
      //=== col
      .col
        .block-wrap
          .title Как запоминать:
          ul.block-list
            li по 50-100 новых слов в день в транспорте;
            li сложные и длинные слова; 
            li глаголы, прилагательные и служебные части речи;
            li фразы и словосочетания; 
            li неправильные глаголы;
            li фразовые глаголы; 
            li многозначные слова;
            li произношения и правописания слов.
      .col
        .block-wrap
          .desc.desc-1 Как вылавливать и исправлять ошибки #[span в уже ]запомненных словах;
          .desc.desc-2 Как перевести выученные слова #[span в активный] разговорный язык;
          .desc.desc-3 Как оптимально организовать работу #[span со словарным] запасом;
          .desc.desc-4 Откуда брать слова для запоминания;
          .desc.desc-5 Сколько слов нужно учить каждый день;
          .desc.desc-6 Как повысить скорость запоминания слов.
    .btn-block
      button.btn.block-2__btn.js-getModal Зарегистрироваться
