//=== You get
section.block-1
  .container
    h2.sec-title.sec-title--red Вы получите:
    .row
      .col
        .block
          .block__img
            img(src="img/marathon/part3/get/tasks.svg", alt="tasks")
          .block__desc Самую полную 
            br
            | на сегодняшний день 
            br
            | технологию запоминания 
            br
            | иностранных слов. 

      .col
        .block
          .block__img
            img(src="img/marathon/part3/get/workflow.svg", alt="workflow")
          .block__desc Алгоритм доведения 
            br
            | полученных знаний 
            br
            | до автоматизированного 
            br
            | навыка.


      .col
        .block
          .block__img
            img(src="img/marathon/part3/get/question.svg", alt="question")
          .block__desc Ответы на все вопросы 
            br
            | по запоминанию, 
            br
            | сохранению 
            br
            | и восстановлению слов.


      .col
        .block
          .block__img
            img(src="img/marathon/part3/get/planning.svg", alt="planning")
          .block__desc Руководство 
            br
            | для самостоятельного 
            br
            | качественного запоминания 
            br
            | иностранных слов.
    .more-info
      .title Более того
      .desc Прямо на вебинаре мы запомним несколько десятков сложных слов английского языка, чтобы Вы могли сразу на практике применить технологию.

