//=== TOP NAV
section.bottom.sec
  .container
    .menu.bottom__menu
      .bottom__title Присоединяйтесь к другим темам #[span онлайн-марафона] Advance:
      ul.menu__list
        li.menu__item
          a(href="http://advance-club.ru/marathon_children") #[span 22 августа]
            br
            | Мотивация детей
            br
            | на обучение

        li.menu__item
          a(href="http://advance-club.ru/marathon_intellect") #[span 23 августа]
            br
            | Развитие интеллектуальных
            br
            | способностей
        li.menu__item.bottom-menu__item--active-3
          a(href="http://advance-club.ru/marathon_100_slov") #[span 24 августа]
            br
            | Запоминание
            br
            | иностранных слов