mixin online(date, title)
  section.online
    .container
      .online__over-title Присоединяйтесь к прямому включению с Николаем Ягодкиным на тему:
      h2.online-title= title
      time.online-date #{date} августа в 20:00
      .btn-block
        button.btn.online__btn.js-getModal Присоединиться к трансляции