//=== TOP NAV
header.header
  .container
    .header__logo-wrap
      .logo
        a(href="http://advance-club.ru")
          img(src='img/jumb-logo.png', alt='logo')
      span.header__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.header__logo-tel 8 800 700-53-42
    .menu.header__menu
      .header-title Онлайн-марафон Advance
      ul.menu__list
        li.menu__item
          a(href="http://advance-club.ru/marathon_children") #[span 22 августа]
            br
            | Мотивация детей
            br
            | на обучение

        li.menu__item
          a(href="http://advance-club.ru/marathon_intellect") #[span 23 августа]
            br
            | Развитие интеллектуальных
            br
            | способностей
        li.menu__item.header-menu__item--active
          a(href="http://advance-club.ru/marathon_100_slov") #[span 24 августа]
            br
            | Запоминание
            br
            | иностранных слов