@font-face {
  font-family: 'Lemonad';
  src: url("../fonts/Lemon/LemonTuesday.eot");
  src: url("../fonts/Lemon/LemonTuesday.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lemon/LemonTuesday.woff2") format("woff2"),
        url("../fonts/Lemon/LemonTuesday.woff") format("woff"),
        url("../fonts/Lemon/LemonTuesday.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}