@font-face {
  font-family: 'Nexa Script';
  src: url('../fonts/Nexa/NexaScript-Thin.eot');
  src: url('../fonts/Nexa/NexaScript-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa/NexaScript-Thin.woff') format('woff'),
    url('../fonts/Nexa/NexaScript-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Script';
  src: url('../fonts/Nexa/../fonts/Nexa/NexaScript-Bold.eot');
  src: url('../fonts/Nexa/NexaScript-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa/NexaScript-Bold.woff') format('woff'),
    url('../fonts/Nexa/NexaScript-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Script';
  src: url('../fonts/Nexa/NexaScript-Light.eot');
  src: url('../fonts/Nexa/NexaScript-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa/NexaScript-Light.woff') format('woff'),
    url('../fonts/Nexa/NexaScript-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Script';
  src: url('../fonts/Nexa/NexaScript-Regular.eot');
  src: url('../fonts/Nexa/NexaScript-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa/NexaScript-Regular.woff') format('woff'),
    url('../fonts/Nexa/NexaScript-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Script';
  src: url('../fonts/Nexa/NexaScript-Heavy.eot');
  src: url('../fonts/Nexa/NexaScript-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa/NexaScript-Heavy.woff') format('woff'),
    url('../fonts/Nexa/NexaScript-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Script';
  src: url('../fonts/Nexa/NexaScript-SemiBold.eot');
  src: url('../fonts/Nexa/NexaScript-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa/NexaScript-SemiBold.woff') format('woff'),
    url('../fonts/Nexa/NexaScript-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
