@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton/subset-Panton-BlackCaps.eot');
  src: url('../fonts/Panton/subset-Panton-BlackCaps.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton/subset-Panton-BlackCaps.woff2') format('woff2'),
    url('../fonts/Panton/subset-Panton-BlackCaps.woff') format('woff'),
    url('../fonts/Panton/subset-Panton-BlackCaps.ttf') format('truetype'),
    url('../fonts/Panton/Panton-BlackCaps.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton/subset-Panton-LightCaps.eot');
  src: url('../fonts/Panton/subset-Panton-LightCaps.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton/subset-Panton-LightCaps.woff2') format('woff2'),
    url('../fonts/Panton/subset-Panton-LightCaps.woff') format('woff'),
    url('../fonts/Panton/subset-Panton-LightCaps.ttf') format('truetype'),
    url('../fonts/Panton/Panton-LightCaps.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton/subset-Panton-BlackitalicCaps.eot');
  src: url('../fonts/Panton/subset-Panton-BlackitalicCaps.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton/subset-Panton-BlackitalicCaps.woff2') format('woff2'),
    url('../fonts/Panton/subset-Panton-BlackitalicCaps.woff') format('woff'),
    url('../fonts/Panton/subset-Panton-BlackitalicCaps.ttf') format('truetype'),
    url('../fonts/Panton/Panton-BlackitalicCaps.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton/subset-Panton-LightitalicCaps.eot');
  src: url('../fonts/Panton/subset-Panton-LightitalicCaps.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton/subset-Panton-LightitalicCaps.woff2') format('woff2'),
    url('../fonts/Panton/subset-Panton-LightitalicCaps.woff') format('woff'),
    url('../fonts/Panton/subset-Panton-LightitalicCaps.ttf') format('truetype'),
    url('../fonts/Panton/Panton-LightitalicCaps.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
