//=== Desc
section.desc
  .container
    .desc-wrap
      .row
        .col
          .desc-block
            h3.desc-name Содержание курса:
            strong.desc-unname Курс «Боевое крещение» состоит из 2 частей: теоретической #[span и практической.]
            ul.desc-list
              li.list-icon Теоретическая часть занимает около 5% курса, то есть порядка 2 академических часов. Теоретическая часть включает в инструкцию относительно «разбора учебника и работы с определениями и формулами. 
              li.guid-icon Практическая часть делится в пропорции 1/6, где 1 – это время на повторения технологий из курса развития памяти, которые есть на всех ступенях курса «Учись Учиться», а 6 – непосредственная работа по «разбору» учебной литературы по технологиям Advance.
              li.rdt-icon Разбор учебной литературы происходит методом выделения «сита», и эта технология излагается на курсах и в многочисленных вебинарах Николая Ягодкина.
        .col
          .desc-block
            h3.desc-name Итоги курса:
            ul.desc-list
              li.tsk-icon Среди итогов курса можно выделить следующие:
                br
                | - поставленный навык изучения определений, терминов, научных понятий;
                br
                | - умение выделить структуру учебной литературы и изучить основное содержание предмета на уровне школьной программы для школьников соответствующего возраста, учебно-методической литературы для взрослых и студентов;

              li.smk2-icon В среднем школьники старших классов за 30 часов успевают отработать с 2-4 учебниками по предметам, не требующим решения задач. Среди приоритетных дисциплин: биология, география, геометрия (теоретическая часть), история, обществознание, химия. 
              li.smk-icon Школьники средней школы успевают освоить годовую программу по 1-2 предметам.
