//=== INFO
section.info
  .container
    //- h2.info-title Похожие курсы:
    .slide-wrap
      .slide
        .course-block(style="background-image: url('img/prod/course/course-1.jpg');")
          h3 Ментальная арифметика
          p Старт: 18 сентября 2017
          p 7 900 #[span.cost__rf &#8381;] в месяц
          a.btn(href="#~") Занять место

        .course-block(style="background-image: url('img/prod/course/course-2.jpg');")
          h3 Учись учиться
          p Старт: 30 ноября 2017
          p 7 900 #[span.cost__rf &#8381;] в месяц
          a.btn(href="#~") Занять место

        .course-block(style="background-image: url('img/prod/course/course-3.jpg');")
          h3 Стань гением
          p Старт: 30 сентября 2017
          p 7 900 #[span.cost__rf &#8381;] в месяц
          a.btn(href="#~") Занять место

        .course-block(style="background-image: url('img/prod/course/course-4.jpg');")
          h3 Эффективное чтение
          p Старт: 31 декабря 2017
          p 7 900 #[span.cost__rf &#8381;] в месяц
          a.btn(href="#~") Занять место
