//=== Block
section.block-4
  h2.sec-title Программа состоит из двух блоков:
  .inform-wrap
    .container
      //=== inform-block
      .inform-block
        h3.inform-block__title 1 блок
        .inform-block__untitle Развитие памяти
          br
          | и внимания
        .inform-block__desc Базовый курс, дающий навык быстрого
          br
          | и прочного запоминания информации
          br
          | и увеличивающий cкорость большинства
          br
          | интеллектуальных процессов.

        .inform-block__desc #[strong Гарантированный результат:] утроение скорости и объема запоминания любой информации со 100% точностью на неограниченный срок.

      //=== inform-block
      .inform-block
        h3.inform-block__title 2 блок
        .inform-block__untitle Технологии обучения
          br
          | и работы с информацией
        .inform-block__desc Навыки быстрой обработки, структурирования
          br
          | и анализа информации, алгоритмы выстраивания
          br
          | процесса любого обучения

        .inform-block__desc #[strong Гарантированный результат:] удвоение скорости
          br
          | любого обучения и работы с информацией
