//=== Block
section.block-2
  .container
    .block-wrap
      //=== Block content
      .block-content
        .block-name Применив полученные знания в жизни, Вы сможете:
        ul.block-list
          li Читая, #[strong выделять и запоминать] в разы больше полезной информации, что сделает Вас еще более интересным и образованным собеседником;

          li Свободно #[strong держать в голове] всю нужную и важную информацию;

          li #[strong Запомнить] имена, даты рождения, предпочтения всех своих коллег, подчиненных, друзей, знакомых;

          li #[strong Разобраться в любом вопросе] (от выращивания цветов до ядерной физики) в 2-3 раза быстрее, чем другие люди.

