//=== Cost
section.cost.sec
  .container
    h2.cost__name Курс-интенсив
      br
      strong “Стань гением”
    .cost__block
      .cost__new 30 000 
        span.cost__rf &#8381;
    .btn-block
      button.btn.cost__btn.js-getModal(data-action="") Стать гением!