//=== Jumbotron
.jumb.jumb--genius-adult
  .superman
  .container
    //=== Jumb content
    .jumb__content
      .jumb__over-title.jumb__over-title--wave Курс-интенсив
      h1.jumb__title Стань Гением
      p.jumb__desc Развитие интеллектуальных способностей, навыков запоминания, 
        br
        | обучения и работы с большими объемами информации
      .jumb__untitle Очный курс

      time.jumb__date(datetime="2017-07-24") 29 июля - 19 августа
      .jumb__address Санкт-Петербург, 
        a(href="#map" data-target="#map") ул. Таврическая, 2
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=-&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Стать гением
        .more-info (записаться на курс)