//=== Result
section.result.sec
  .container
    h2.sec-title По итогам курса Вы: 
    .row
      .col
        .block
          .block__img
            img(src="img/genius/genius_adult/result/test.svg", alt="result-icon")
          p.block__desc #[span Увеличите в 3-5 раз]
            br
            | скорость и объем 
            br
            | запоминания разнородной 
            br
            | информации

      .col
        .block
          .block__img
            img(src="img/genius/genius_adult/result/startup.svg", alt="result-icon")
          p.block__desc #[span Ускорите процессы ]
            br
            | любого обучения 
            br
            | в 2-4 раза
      .col
        .block
          .block__img
            img(src="img/genius/genius_adult/result/inspection.svg", alt="result-icon")
          p.block__desc #[span Научитесь запоминать ]
            br
            | за день 600-1500 единиц 
            br
            | информации (чисел, 
            br
            | иностранных слов, и т.д.) 
            br
            | со 100% точностью

      .col
        .block
          .block__img
            img(src="img/genius/genius_adult/result/target.svg", alt="result-icon")
          p.block__desc 
            span Научитесь 
              br
              | концентрировать 
              br
              | внимание на главном 
            br
            | даже в стрессовых 
            br
            | ситуациях