//=== Block
section.about.sec
  .container
    h2.sec-title На семинаре Вы узнаете:
    .row
      .col
        .about__block
          .about__block-name.about__block-name--1 Как самому поставить навык 
            br
            | понимания беглой речи 
            br
            | на английском

      .col
        .about__block
          .about__block-name.about__block-name--2 Заблуждения и мифы, 
            br
            | из-за которых многие учат 
            br
            | иностранный язык годами

      .col
        .about__block
          .about__block-name.about__block-name--3 Как и сколько нужно 
            br
            | заниматься языком в неделю 
            br
            | и как язык учить нельзя
      .col
        .about__block
          .about__block-name.about__block-name--4 Насколько проста 
            br
            | грамматика английского, 
            br
            | если учить её правильным 
            br
            | способом

      .col
        .about__block
          .about__block-name.about__block-name--5 О системе уровней 
            br
            | английского языка и уровне, 
            br
            | на котором находитесь


      .col
        .about__block
          .about__block-name.about__block-name--6 Методы быстрого набора 
            br
            | словарного запаса 
            br
            | и запоминания 80-150 слов 
            br
            | в день

      .col
        .about__block
          .about__block-name.about__block-name--7 До какого уровня нужно 
            br
            | доучить язык, чтобы он 
            br
            | не забывался

    .btn-block
      button.btn.about__btn.js-getModal(data-action="") хочу узнать