//=== Block-2
section.block-2.sec
  .container
    .block-content
      h2.block-2__title Уже не новичок в английском?
      p.block-2__desc Семинар будет полезен как уже изучающим язык на любом уровне (от «Beginner» до «Advanced»), так и тем, кто только собирается овладеть английским и хочет это сделать быстро и с минимальными затратами.

