//=== Block
section.block.sec
  .container
    .row
      //=== Iframe
      .col
        .iframe-block
          iframe(src="https://www.youtube.com/embed/T_ZHJpJIOsA?list=PLjzfEG7TN_cX2GY2H_Zf95YCWY9ftIBr9" frameborder="0" allowfullscreen)
      .col
        h2.block-title На семинаре вы получите:
        ul.block-list
          li #[strong Обзор самых эффективных методик] 
            br
            | и способов изучения английского языка
          li #[strong Конкретные рекомендации,] которые 
            br
            | сможете применить сразу
          li #[strong Мотивацию] для изучения английского 
            br
            | языка