//=== Jumb
section.jumb.jumb--eng-tech
  .container
    .jumb__logo-wrap
      .logo
        a(href="http://advance-club.ru")
          img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    .jumb__main-desc
      h2.jumb__over-title Бесплатный семинар Николая Ягодкина
      h1.jumb__title Продвинутые технологии
        br
        | изучения иностранных языков
      p.jumb__desc Устали учить английский?
        br
        | Приходите и узнаете, как это просто!

      time.jumb__date(datetime="2017-07-29") #[strong 29 июля 2017,] 17:00

      .jumb__address #[i] Москва, ул. Павловская 18, ЦР "Открытый мир"
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="") Занять место