//=== About
section.about.sec
  .container
    h2.about__title Что будет и зачем приходить?
    .row
      .col
        .block
          .block__img
            img(src="img/genius/genius_day/about/dialog.svg", alt="about")
          p.block__desc #[strong Общение]
            br
            | Знакомьтесь 
            br
            | и проводите время 
            br
            | с такими же 
            br
            | целеустремленными 
            br
            | людьми
      .col
        .block
          .block__img
            img(src="img/genius/genius_day/about/idea.svg", alt="about")
          p.block__desc #[strong Развитие]
            br
            | Тренируйте 
            br
            | Вашу память 
            br
            | и внимательность 
            br
            | так, как Вы еще 
            br
            | не делали
      .col
        .block
          .block__img
            img(src="img/genius/genius_day/about/checklist.svg", alt="about")
          p.block__desc #[strong Практика]
            br
            | В ходе урока 
            br
            | Вы проработаете 
            br
            | 10 различных текстов 
            br
            | и запомните 
            br
            | 20 географических 
            br
            | объектов
      .col
        .block
          .block__img
            img(src="img/genius/genius_day/about/target.svg", alt="about")
          p.block__desc #[strong Удовольствие]
            br
            | Ставьте новые цели 
            br
            | в обучении 
            br
            | и удивляйтесь, 
            br
            | как просто они 
            br
            | достигаются
      .col
        .block
          .block__img
            img(src="img/genius/genius_day/about/trophy.svg", alt="about")
          p.block__desc #[strong Мотивация]
            br
            | Получите заряд 
            br
            | мотивации и 
            br
            | хорошее настроение 
            br
            | на недели вперед
    .about__info Всего за 2 часа Вы посмотрите на обучение с качественно новой стороны!
