//=== Cost
section.cost.sec
  .container
    h2.cost__title Приходите с друзьями и близкими!
    .cost__wrap
      .cost__block
        .cost__person 1 человек
        .cost__new 1000 #[span.cost__rf ₽]
        a.btn.cost__btn.js-getModal(href="http://shop.advance-club.ru/order/genius_adults_day_msk.2017.07.09/") Занять место
      .cost__block
        .cost__person 2 человека
        .cost__new 1600 #[span.cost__rf ₽]
        button.btn.cost__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1496416379.5526808296&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni%2F&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni%2F") Придём вдвоём