extends layout

block meta
  include helpers/mixin
  +meta('10 секретов самомотивации в обучении')

block main
  main
    include partials/10Secrets/jumb
    include partials/Timer/timer
    include partials/10Secrets/know
    include partials/7Tech/author
    include partials/7Tech/recommend
    include partials/7Tech/feedback
