extends layout

block meta
  include helpers/mixin
  +meta('Экспресс-курс Техника запоминания 1000 иностранных слов за неделю')

block main
  main
    include partials/slova/jumb
    +timer('До старта курса осталось:', '07', '04', '09', '00')
    include partials/slova/block-2
    include partials/slova/calendar
    include partials/slova/about
    include partials/slova/block-3
    include partials/slova/cost
    include partials/slova/tabs
    include partials/reviews
    include partials/slova/block
    //- include partials/7Tech/recommend
    include partials/map/mapBlock