<!DOCTYPE html>
html(lang="ru")
  head
    script(src="//advance-club.justclick.ru/jsapi/click.js")
    include partials/meta
  body
    include components/preloader
    .container-fluid
      //- Jumb
      include partials/eng/free_webinar/jumb

      //- TImer
      include partials/Timer/timer

      //- About
      include partials/eng/free_webinar/about

      //- Author
      include partials/7Tech/author

      //- Knowledge
      include partials/eng/free_webinar/knowledge

      //- Recommend
      include partials/7Tech/recommend

      //- Reviews
      include partials/reviews

      //- Feedback
      include partials/7Tech/feedback

      //- footer
      include partials/footer

      //- modal
      include partials/modal

      //- scrollTop
      include components/scrollTop

      //- scripts
      include components/scripts