<!DOCTYPE html>
html(lang="ru")
  head
    script(language="JavaScript" type="text/javascript" src="//advance-club.justclick.ru/jsapi/click.js")
    script.
      //=== Google Tag Manager
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NWR77CZ');
      //=== End Google Tag Manager
    block meta
  body
    noscript
      //=== Google Tag Manager (noscript)
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NWR77CZ"
      height="0" width="0" style="display:none;visibility:hidden")
      //=== End Google Tag Manager (noscript)

    //- include components/preloader
    .container-fluid

      //- Header
      block header
        include partials/header

      //- Main
      block main

      //- Feedback
      block feedback

      //- Footer
      block footer
        include partials/footer

      block modal
        include partials/modal
        include components/scrollTop

      //- Script
      block script
        include components/scripts