extends layout

block meta
  include helpers/mixin
  +meta('Курс Боевое крещение')

block main
  .container
    include partials/prod/ver_1/jumb
    include partials/prod/ver_1/time
    include partials/prod/ver_1/feedback
    include partials/prod/ver_1/teacher
    include partials/prod/ver_1/desc
    include partials/prod/info