<!DOCTYPE html>
html(lang="ru")
  head
    script(src="//advance-club.justclick.ru/jsapi/click.js")
    include partials/meta
  body
    include components/preloader
    .container-fluid
      //- Header
      include partials/header

      //- Jumb
      include partials/reading/jumb

      //- TImer
      include partials/Timer/timer

      //- Add
      include partials/reading/add

      //- Offer
      include partials/reading/offer

      //- About
      include partials/reading/about

      //- Teacher
      include partials/reading/teacher

      //- Map
      include partials/map/mapBlock

      //- Feedback
      include partials/7Tech/feedback

      //- footer
      include partials/footer

      //- modal
      include partials/modal

      //- scrollTop
      include components/scrollTop

      //- scripts
      include components/scripts