//=== Jumbotron
section.jumb.jumb--10sec.sec
  .container
    .jumb__logo-wrap
      .logo
        img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    .jumb__main-desc
      h2.sec-title 10 секретов
        br
        | самомотивации в обучении
      p.jumb__desc на бесплатном вебинаре в формате “вопрос-ответ”
        br
        | с Николаем Ягодкиным,
        br
      time.jumb__date(datetime="2017-06-14") #[strong 00 июня 2017], 20:00
      button.btn.jumb__btn.js-getModal(data-action="") Зарегистрироваться