//=== To know
section.know.sec
  .container
    h2.sec-title.sec-title--red На вебинаре Вы узнаете:
    .row
      .col
        .know__block
          .know__block-name.know__block-name--1 Чему можно научиться 
            br
            | за 1 день?

      .col
        .know__block
          .know__block-name.know__block-name--2 Как читать книги, чтобы
            br
            | помнить прочитанное?

      .col
        .know__block
          .know__block-name.know__block-name--3 Как готовиться к тестам 
            br
            | и экзаменам?
      .col
        .know__block
          .know__block-name.know__block-name--4 Какие компетенции нужны 
            br
            | в современном мире?

      .col
        .know__block
          .know__block-name.know__block-name--5 Как повысить продуктивность
            br
            | в работе и учебе? 

      .col
        .know__block
          .know__block-name.know__block-name--6 Какие Топ-10 ошибок
            br
            | обучения?
      .col
        .know__block
          .know__block-name.know__block-name--7 Что будет с системой 
            br
            | образования?

      .col
        .know__block
          .know__block-name.know__block-name--8 Как читать техническую
            br
            | литературу?

      .col
        .know__block
          .know__block-name.know__block-name--9 Как работать с большими
            br
            | объемами информации?

      .col
        .know__block
          .know__block-name.know__block-name--10 На что способен наш мозг?

      .col
        .know__block
          .know__block-name.know__block-name--11 Что можно успеть
            br
            | за 30 минут в день в дороге?

      .col
        .know__block
          .know__block-name.know__block-name--12 Как себя замотивировать?
      .col
        .know__block
          .know__block-name.know__block-name--13 Как построить свой план
            br
            | обучения?

      .col
        .know__block
          .know__block-name.know__block-name--14 Как развить память
            br
            | и внимательность? 

    .btn-block
      button.btn.know__btn Узнать ответы