//=== Jumb
section.jumb.jumb--eng-sof
  .container
    .jumb__logo-wrap.jumb__logo-wrap--white
      .logo
        img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    .jumb__main-desc
      h1.jumb__title Бесплатный семинар-консультация для родителей
        br
        span.jumb__desc Английский
          br
          | для школьников
      time.jumb__date 6 июля в 20:00

      .jumb__address Санкт-Петербург, #[span ул. Таврическая, 2]
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="") Принять участие
      .jumb__warn #[span Количество мест ограничено.]
        br
        | Посещение только по предварительной записи.