//=== know
section.know.sec
  .container
    h2.sec-title Вы узнаете:
    .row
      .col
        .block
          .block__img
            img(src="img/eng/eng_school_offline/icons/homework.svg", alt="")
          p Как вывести ребенка
            br
            | на уровень подготовки
            br
            | к ЕГЭ и ОГЭ
      .col
        .block
          .block__img
            img(src="img/eng/eng_school_offline/icons/school.svg", alt="")
          p Минусы преподавания
            br
            | в государственных школах
      .col
        .block
          .block__img
            img(src="img/eng/eng_school_offline/icons/exam.svg", alt="")
          p Минусы преподавания
            br
            | в государственных 
            br
            | школах
      .col
        .block
          .block__img
            img(src="img/eng/eng_school_offline/icons/blackboard.svg", alt="")
          p Специфику изучения
            br
            | английского
            br
            small (по сравнению с другими предметами)
      .col
        .block
          .block__img
            img(src="img/eng/eng_school_offline/icons/presentation.svg", alt="")
          p Плюсы преподавания
            br
            | в Advance
      .col
        .block
          .block__img
            img(src="img/eng/eng_school_offline/icons/big-ben.svg", alt="")
          p Требования к уровню
            br
            | владения английским языком