//=== header nav
nav.header__nav
  .container
    ul.header__nav-list
      li
        a.header__nav-list--main(href='http://advance-club.ru/') Главная
      li
        a.header__nav-list--lang(href='http://advance-club.ru/izuchenie-yazykov') Иностранные языки
      li
        a.header__nav-list--effect(href='http://advance-club.ru/razvitie-pamyati') Повышение эффективности
      li
        a.header__nav-list--child(href='http://advance-club.ru/obuchenie-detey') Обучение детей
      li
        a.header__nav-list--sched(href='http://advance-club.ru/fulllist') Расписание
      li
        a.header__nav-list--base(href='http://advance-club.ru/knowledge') База знаний
      li
        a.header__nav-list--about(href='http://advance-club.ru/about') Об Advance
      li
        a.header__nav-list--contact(href='http://advance-club.ru/contact') Контакты