//=== Map
section.map#map
  .map__block
    .map__frame
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.4030955657504!2d30.375070715667004!3d59.94204636878629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631974d72df53%3A0xb691bdd2c77142ae!2z0KLQsNCy0YDQuNGH0LXRgdC60LDRjyDRg9C7LiwgMiwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTAxNQ!5e0!3m2!1sru!2sru!4v1497021565281" frameborder="0" style="border:0" allowfullscreen)
      .container
        .map__info
          ul.map__info-list
            li.map__info--name #[small Экспресс-тренинг]
              br
              | «Техника запоминания 
              br
              | 500 иностранных слов в день»

            li.map__info--time 24 и 25 июня с 11:00 до 19:00

            li.map__info--place Санкт-Петербург, 
              br
              | ул. Таврическая, 2
          .btn-block
            button.btn.map__info-btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1494410207.503668175&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Занять место