//=== BLOCK-2
section.block-2.sec
  .container
    .row
      .col
        .block
          p.block-desc.block-desc--1 Вы любите учиться, регулярно посещаете интересные тренинги и вебинары, но не можете пересказать и сотой доли из того, что узнали на них;
      .col
        .block
          p.block-desc.block-desc--2
      .col
        .block
          p.block-desc.block-desc--3
      .col
        .block
          p.block-desc.block-desc--4
      .col
        .block
          p.block-desc.block-desc--5