//=== BLOCK-1
section.block-1.sec
  .container
    .block-wrap

      h2.block-title КТО И ЗАЧЕМ ХОДИТ В АПТЕКУ?  
      p Спрос, как известно, рождает предложение. Поэтому в любой аптеке, на самом видном месте, наряду с лекарствами от простуды и гриппа, можно встретить препараты для улучшения памяти.  Gочему? Неужели так много людей страдает теми или иными заболеваниями головного мозга? Совсем нет.  
      p Просто мы живем в эпоху информационной революции. Со всех сторон нас атакуют всевозможные источники информации – они вторгаются в нашу жизнь, они требуют нашего внимания и ждут нашей ответной реакции – не забыть написать, не забыть позвонить, не забыть запомнить.  
      p
        strong Разумеется, от таких нагрузок наша память «перегревается», а внимание рассеивается.