//=== Jumb
header.jumb
  .container
    //=== Logo
    .jumb__logo-wrap
      .logo
        a(href="http://advance-club.ru")
          img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    .jumb__main-desc
      h1.jumb__title
        span Online тренинг
        | Курс развития  памяти
      p.jumb__desc Как со 100% точностью запоминать большой объем любой информации на неограниченный срок?
      .btn-block
        button.btn.jumb__btn.js-getModal Купить курс