//=== About
section.about.sec
  .container
    h2.sec-title.sec-title--red На вебинаре вы получите:
    .row
      .col
        .about__block
          .about__img
            img(src="img/eng/free_webinar/about/icon-1.png", alt="about")
          p #[strong Обзор самых эфективных методик] и способов изучения английского языка
      .col
        .about__block
          .about__img
            img(src="img/eng/free_webinar/about/icon-2.png", alt="about")
          p #[strong Конкретные рекомендации] которые Вы сможете применить сразу
      .col
        .about__block
          .about__img
            img(src="img/eng/free_webinar/about/icon-3.png", alt="about")
          p #[strong Мотивация] для изучения английского языка
      .col
        .about__block
          .about__img
            img(src="img/eng/free_webinar/about/icon-4.png", alt="about")
          p #[strong Ссылки] на лучшие ресурсы и материалы по освоению английского
    .btn-block
      button.btn.about__btn.js-getModel(data-title="") Получить навыки
