//=== Jumbotron
section.jumb.jumb--free-webinar
  .container
    .logo
      img(src='img/main-logo.png', alt='logo')
    .jumb__main-desc
      h2.sec-title Как выучить английский
        br
        span за 3 месяца
      p.jumb__desc Бесплатный вэбинар Николая Ягодкина
        br
        | по технологии изучения языков,
        br
        | который уже посетили более #[span 30 000] человек
      time.jumb__date(datetime="2017-06-14") #[strong 14 июня 2017], 20:00
      button.btn.jumb__btn.js-getModal(data-action="") Зарегистрироваться