//=== Knowledge
section.knowledge.sec
  .container
    h2.sec-title На вэбинаре вы узнаете:
    .row
      .col
        .knowledge__block
          .knowledge__img
            img(src="img/eng/free_webinar/knowledge/icon-1.png", alt="knowledge")
          p #[strong Как самому быстро поставить навык понимания беглой речи] на английском
      .col
        .knowledge__block
          .knowledge__img
            img(src="img/eng/free_webinar/knowledge/icon-2.png", alt="knowledge")
          p #[strong О системе уровней английского языка] и сможете определить, на каком находитесь Вы
      .col
        .knowledge__block
          .knowledge__img
            img(src="img/eng/free_webinar/knowledge/icon-3.png", alt="knowledge")
          p #[strong Методы быстрого набора словарного запаса] или как легко запоминать 80-150 слов в день
    .knowledge__block-sub
      .row.row-sub
        .col-sub
          .knowledge__block.knowledge__block-sub
            .knowledge__img.knowledge__img-sub
              img(src="img/eng/free_webinar/knowledge/icon-4.png", alt="knowledge")
            p #[strong Заблуждения и мифы,] из-за которых многие учат иностранный язык годами
        .col-sub
          .knowledge__block.knowledge__block-sub
            .knowledge__img.knowledge__img-sub
              img(src="img/eng/free_webinar/knowledge/icon-5.png", alt="knowledge")
            p #[strong Как и сколько нужно заниматься языком] в неделю и как учить язык нельзя
        .col-sub
          .knowledge__block.knowledge__block-sub
            .knowledge__img.knowledge__img-sub
              img(src="img/eng/free_webinar/knowledge/icon-6.png", alt="knowledge")
            p #[strong Насколько проста грамматика английского,] если учить ее правильным способом
        .col-sub
          .knowledge__block.knowledge__block-sub
            .knowledge__img.knowledge__img-sub
              img(src="img/eng/free_webinar/knowledge/icon-7.png", alt="knowledge")
            p #[strong До какого уровня нужно доучить язык,] чтобы он потом безвозвратно не забылся
    .block-more.block-more--red
      span И многое другое...
    .btn-block
      button.btn.knowledge__btn.js-getModal(data-title="") Записаться на вэбинар