//=== Jumbotron
.jumb.jumb__eng-children
  .container
    .jumb__logo-wrap.jumb__logo-wrap--white
      .logo
        img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    //=== Jumb content
    .jumb__content
      .jumb__over-title--wave Вебинар для родителей
      h1.jumb__title английский для школьников
      time.jumb__date(datetime="2017-06-28") 28 июня в 20:00
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=-&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Хочу развивать ребенка
  .jumb__list-block
    .container
      .jumb__list-block-inner
        h3.jumb__list-name На вебинаре Вы узнаете:
        ul.jumb__list
          li Как вывести ребенка на уровень подготовки 
            br
            | к ЕГЭ и ОГЭ

          li Минусы преподавания в государственных школах

          li Сложности в подготовке к экзаменам по английскому языку

          li Специфику изучения английского 
            br
            | (по сравнению с другими предметами)

          li Плюсы преподавания в Advance

          li Требования к уровню владения английским языком