//=== Teacher
section.teacher.sec
  .container
    h2.sec-title Кто ведёт?
    .teacher__wrap
      .name Огородова Светлана Александровна
      .desc Руководитель английского направления
      .col
        .teacher__self
          img(src="img/eng/eng_children/photo-ogorodova.jpg" alt="Ogorodova")
        .teacher__info
          .teacher__row-first
            .row-inner
              .title Образование: 
              p #[strong Высшее, педагогическое.] Закончила с отличием факультет английской филологии Московского Городского Педагогического Университета 
            .row-inner
              .title Дополнительное образование:
              p #[strong Второе высшее образование] по специальности «Hospitality management» в Seneca College, Торонто, Канада. Курсы повышения квалификации по ФГОС
          .teacher__row-second
            .row-inner
              .title Личные рекорды:
              ul
                li #[strong 4 года подряд] результаты моих учеников по ЕГЭ занимают #[strong первое место] среди школ Кировского Района #[span Санкт-Петербурга] 

                li #[strong 3 года подряд] получаю Почетную Благодарность Кировского Района за успех в подготовке призеров городского этапа Всероссийской Олимпиады по английскому языку 

                li Сдала IELTS Academic #[strong на 8,5 из 9] без подготовки

            .row-inner
              .title В «Advance» занимаюсь: 
              ul
                li Разработкой учебных курсов различных уровней и направленностей (ЕГЭ, ОГЭ, IELTS, TOEFL, др.)

                li Обучением и методической поддержкой преподавателей 

                li Разработкой пособий и учебных материалов 

                li Разработкой вебинаров по английскому языку
    
    .teacher__more Огородова Светлана преподаватель-методист с большим опытом работы, которая привыкла достигать высоких результатов. Она никогда не останавливается на достигнутом и всегда занимается саморазвитием, постоянно совершенствуя как свой уровень владения английским языком, так и свою методическую работу. Она привыкла поддерживать высокий стандарт обучения, изучая и применяя новейшие международные технологии и внедряя их в современные Российские реалии.

    .btn-block
      button.btn.teacher__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=-&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Буду смотреть вебинар
