//=== About
section.about.sec
  .container
    h2.sec-title На вебинаре вы:
    .row
      .col
        .about__block
          .about__img
            img(src="img/7Tech/about/icon-1.svg", alt="about")
          p Поймете почему
            span
              br 
              | мы забываем 99% того, 
              br 
              | что узнаём 
          
      .col
        .about__block
          .about__img
            img(src="img/7Tech/about/icon-2.svg", alt="about")
          p Освоите навык запоминания
            span
              br 
              | по 100 иностранных слов
              br 
              | за 1 час
      .col
        .about__block
          .about__img
            img(src="img/7Tech/about/icon-3.svg", alt="about")
          p Получите алгоритм подготовки
            span
              br 
              | к любым экзаменам
              br 
              | за вечер
      .col
        .about__block
          .about__img
            img(src="img/7Tech/about/icon-4.svg", alt="about")
          p Запомните
            span
              br 
              | 30 иностранных слов
              br 
              | за 10 минут
      .col
        .about__block
          .about__img
            img(src="img/7Tech/about/icon-5.svg", alt="about")
          p Узнаете как выучить
            span
              br 
              | иностранный язык за 2 месяца
              br 
              | до разговорного уровня
      .col
        .about__block
          .about__img
            img(src="img/7Tech/about/icon-6.svg", alt="about")
          p Выучите
            span
              br 
              | 20 китайских
              br 
              | иероглифов
    .btn-block
      
      button.btn.sec-btn.about__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1495635738.4439877117&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni%2F&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni" data-title="Получить навыки") Получить навыки