//=== Author
section.author.sec
  .container
    h2.sec-title Кто ведёт?
    .row
      .col.col-first
        .author__block
          img(src="img/7Tech/photo-NJ.jpg" alt="author")
      .col.col-last
        .author__block
          h3.author__block-name Николай Ягодкин
          p.author__block-desc Самый известный в России специалист по технологии обучения и изучения языков
          ul.author__list
            li #[strong Закончил 2 высших образования: #[span математическое и] педагогическое, специалист по инновационным методикам обучения]

            li #[strong Основатель и владелец образовательной компании Advance, ] полные программы которого прошли более #[span 50 000] человек по всему миру
  
            li #[strong Отзывов о результатах применения его технологий только ВКонтакте больше #[span 10 000]]
  
            li Репортажи о его технологиях и результатах их применения показывали #[strong по Первому каналу, НТВ] и д.р.
  
            li #[strong Консультирует министров образования и обучает парламенты зарубежных стран]
 
            li Среди частных учеников #[strong министры, депутаты, ректора и профессоры, президенты правления крупнейших компаний и банков и их дети]
          