//=== Programm
section.programm.sec
  .container
    h2.sec-title В ПРОГРАММЕ:
    .row
      //=== about-block     
      .col
        .programm__block
          h3.programm__title.programm__title-1 Мнемотехники:
          ul.programm__list
            li Запоминание любой информации
              span (школьный предмет за один день)
    
            li Сохранение информации
              span Воспроизведение на автомате

            li Активное воспроизведение
              span с сохранением высокого качества повторения

      //=== about-block
      .col
        .programm__block
          h3.programm__title.programm__title-2 Навыки работы с большими 
            br
            | объёмами информации:
          ul.programm__list
            li Выделение главного
              span Целеполагание и настройка фильтров
  
            li Работа с текстом
              span Навык скорочтения.
    
            li Понимание.
              span Связь новой информации с имеющейся в голове
      
      //=== about-block
      .col
        .programm__block
          h3.programm__title.programm__title-3 Практика 
            br
            | запоминания
        
      //=== about-block
      .col
        .programm__block
          h3.programm__title.programm__title-4 Алгоритм подготовки
            br
            | к экзамену

    .btn-block
      button.btn.sec-btn.programm__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1495635738.4439877117&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni%2F&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni" data-titile="") Записаться на вебинар