//=== Recommend us
section.recommend.sec
  .container
    .recommend__main-desc
      h2.sec-title Порекомендуйте нас друзьям, и получите видео по запоминанию 100 слов в час бесплатно!
    .recommend__links
        ul.recommend__list
          li.recommend__item.recommend__item--vk
            a(href='https://vk.com/advanceclub')
          li.recommend__item.recommend__item--fb
            a(href='https://www.facebook.com/pages/Advance-Club/370830876444181?fref=ts')
          li.recommend__item.recommend__item--ok
            a(href='http://ok.ru/group/52611362652241')
          li.recommend__item.recommend__item--inst
            a(href='https://www.instagram.com/advance_courses/')

