//=== BLOCK-5
section.block-5.sec
  .container
    .block-wrap
      p.red #[strong Международный сертификат IELTS позволит вам получить профессиональное развитие #[span и престижную] высокооплачиваемую работу.]

      p Не откладывайте успешное будущее
        br
        | в долгий ящик!