//=== BLOCK-2
section.block-2.sec
  .container
    .row
      .col
        .block-img
          img(src="img/ielts/medal.svg", alt="Авторские технологии, которые мы используем на курсах, на данный момент являются самыми эффективными в мире.")
        p Авторские технологии, которые #[span мы используем] на курсах, #[span на данный] момент являются #[strong самыми эффективными в мире.]
      .col
        .block-img
          img(src="img/ielts/message-types.svg", alt="На курсе вы тщательно отработаете множество лексических единиц и паттернов по разным аспектам экзамена (аудирование, чтение, письмо, говорение).")
        p На курсе вы тщательно отработаете #[strong множество лексических единиц #[span и паттернов]] по разным аспектам экзамена (аудирование, чтение, письмо, говорение).
      .col
        .block-img
          img(src="img/ielts/goal.svg", alt="Регулярные пробные тестирования для оценки результатов на каждом этапе обучения.")
        p #[strong Регулярные пробные тестирования] #[span для оценки] результатов #[span на каждом] этапе обучения.