//=== BLOCK-1
section.block-1.sec
  .container
    .block-wrap
      p.red #[strong Мы изучили мировой опыт подготовки к экзаменам #[span и отобрали] лучшие техники и методы именно для вас!]


      p Программа курса разработана таким образом, чтобы изучать и актуализировать #[strong все языковые сферы] #[span и оттачивать] #[span все навыки], ведущие к повышению уровня владения языком у слушателей.