//=== BLOCK-4
section.block-4.sec
  .container
    h2.block-title.sec-title--red Преимущества нашей программы:
    .block-wrap
      .row
        .col
          .name Стоимость
            br
            | академического часа всего

          strong.title 400 #[span.cost__rf &#8381;]
          .info Посчитайте и сравните, это действительно выгодно!
        .col
          .name Интенсивная и углублённая
            br
            | степень подготовки всего за

          strong.title 3 месяца 
          .info В других школах подготовка проходит в среднем 4–6 месяцев