//=== BLOCK-3
section.block-3.sec
  .container
    h2.block-title.sec-title--red Выберите удобный формат обучения:
    .row
      .col
        .block-wrap
          .title Стандарт

          .untitle с уровня Pre-intermediate
          ul.block-list
            li.ico-star 154 академических часа
            li.ico-time 3 раза в неделю
            li.ico-sand 4 академчаса занятие
            li.ico-cal 3 месяца

          .desc Пролонгированный трёхмесячный курс с упором на структуру экзамена и лексико-грамматический аспект, необходимый для повышения уровня владения языком и получения проходного балла IELTS. Помимо подготовки к самому экзамену программа выявляет и восполняет пробелы в знаниях языка.

          .bottom-cost #[i] 39 900 #[span.cost__rf &#8381;]
          .btn-block
            a.btn.block-btn(href="") Купить курс
      .col
        .block-wrap
          .title Стандарт
 
          .untitle с уровня Intermediate
          ul.block-list
            li.ico-star 64 академических часа
            li.ico-time 2 раза в неделю
            li.ico-sand 4 академчаса занятие
            li.ico-cal 2 месяца

          .desc Пролонгированный двухмесячный курс с упором на структуру экзамена и академический вокабуляр, включающий интенсивный разговорный видеокурс.
          .bottom-cost #[i] 29 900 #[span.cost__rf &#8381;]
          .btn-block
            a.btn.block-btn(href="") Я сдам
      .col
        .block-wrap
          .title Интенсив

          .untitle с уровня Upper-intermediate
          ul.block-list
            li.ico-star 75 академических часов
            li.ico-sand 8 академчасов занятие
            li.ico-cal 7 дней

          .desc Интенсивный недельный курс для слушателей, заинтересованных в срочной подготовке к экзамену. Акцент на лексический аспект экзамена.
          .bottom-cost #[i] 29 000 #[span.cost__rf &#8381;]
          .btn-block
            a.btn.block-btn(href="") На подвиги готов
      .col
        .block-wrap
          .title Индивидуальные занятия
          .untitle с уровня Pre-intermediate
          ul.block-list
            li.ico-star Удобный график занятий. Адаптация курса под ваши потребности.
          .desc
          .bottom-cost #[i] 1 500 #[span.cost__rf &#8381;] / #[small академчас]
          .btn-block
            a.btn.block-btn(href="") Оставить заявку
    .bottom-info 6–10 человек в группе