//=== JUMB
section.jumb.sec
  .container
    .jumb__title Курсы подготовки к IELTS
      span Интенсивная подготовка к экзамену на международный сертификат IELTS.
    .jumb__place
      .jumb__time Старт очного курса
        br
        | с 27 октября 2017
      i.icon
      .jumb__address Санкт-Петербург,
        br
        | ул. Таврическая, 2
    .jumb__info Успейте занять место!

    .btn-block
      button.btn.jumb__btn.js-getModal Выбрать курс