//=== BLOCK-4
section.block-4.sec
  .container
    .main-content
      .main-content__wrap
        h2.sec-title.sec-title--red.sec-title--small На курсе Вы научитесь
          br
          | легко и просто запоминать:

        ul.block__list.block-4__list
          li Тексты дословно.
          li Cтруктуры данных (классификации, последовательности, списки и т.д.).
          li Иностранные слова, иероглифы, знаки.
          li Числовые данные, номера телефонов, даты.
          li Имена людей