//=== BLOCK-2
section.block-2.sec
  .container
    h2.sec-title.sec-title--red Два основных навыка, которые Вы получите на курсе:
    .row
      .col
        .block
          .block__img
            img(src="img/genius/genius_online/monitor.svg", alt="monitor")
          .block__desc #[strong Минимум в 3 раза] 
            br
            | быстрее запоминать любую информацию 
            br
            | со 100% точностью.

      .col
        .block
          .block__img.block__img--custom
            img(src="img/genius/genius_online/brainstorm.svg", alt="brainstorm")
          .block__desc #[strong Неограниченно долго]
            br
            | сохранять запомненную вами информацию 
            br
            | в первозданном виде.
