//=== BLOCK-1
section.block-1
  .container
    .main-content.sec
      .main-content__wrap
        h2.sec-title.sec-title--red Это курс для Вас если:
        ul.block__list.block-1__list
          li после интересного мероприятия Вы не можете пересказать #[span и сотой] доли услышанного;
          li в шоке от объема материала, который нужно готовить #[span к экзаменам;]
          li не можете запомнить имена тех, с кем знакомитесь;
          li готовитесь к публичному выступлению и не можете #[span без шпаргалки] произнести речь;
          li который год не можете выучить иностранный язык, #[span потому что] постоянно все забываете.