//=== BLOCK-3
section.block-3.sec
  .container
    h2.sec-title.sec-title--red Курс развития памяти – это фундамент.
    p.sec-desc Мы рекомендуем его проходить перед другими курсами, так как он: 

    .row
      .col
        .block
          .block__img
            img(src="img/genius/genius_online/brainstorming.svg", alt="brainstorming")
          .block__desc #[strong Повышает #[br] общую скорость]
            br
            | мыслительной 
            br
            | деятельности
      .col
        .block
          .block__img
            img(src="img/genius/genius_online/visualization.svg", alt="visualization")
          .block__desc #[strong Развивает #[br] основной канал]
            br
            | восприятия информации 
            br
            | (визуальный)
      .col
        .block
          .block__img
            img(src="img/genius/genius_online/research.svg", alt="research")
          .block__desc #[strong Формирует #[br] важнейшие навыки]
            br
            | эффективной работы 
            br
            | с информацией