//=== COST
section.cost
  .container
    h2.cost__title Стоимость online курса:
    .cost-block
      .cost__new 15 900 #[span.cost__rf &#8381;]
    .btn-block
      button.btn.cost__btn.js-getModal Купить курс