//=== JUMB
section.jumb
  .container
    .jumb__main-desc
      .jumb__over-title.jumb__over-title--wave Online тренинг
      .jumb__title Курс развития памяти
        span Как со 100% точностью запоминать большой объем любой информации на неограниченный срок?
      time.jumb__date Старт: октябрь 2017
      .jumb__cost 15 900 #[span.cost__rf &#8381;]
      .btn-block
        button.btn.jumb__btn.js-getModal Купить курс