//=== BLOCK-1
section.block-1.sec
  .container
    .block-wrap
      p Вы познакомитесь с методиками скорочтения, объединенных #[span с техниками,] направленными на расширение кругозора, улучшение внимания #[span и памяти,] обогащение лексикона #[span и синхронизацию] работы обоих полушарий мозга. 
      p По итогам курса обучения вы сможете запоминать больше #[span и лучше] обрабатывать полученную информацию, научитесь выделять главное.