//=== BLOCK-5
section.block-5.sec
  .container
    h3.block-untitle Ведущий вебинара 
    h2.block-title Глеб Годун

    p.block-ot Преподаватель, автор и разработчик курсов и методик.
    ul.block-list
      li #[span.red Психолог], преподаватель биологии и психологии
      li #[span.red Преподаватель] с 24-летним педагогическим опытом, #[span18 из которых] - опыт преподавания в школе
      li #[span.red Автор курсов:]
        br
        | - "Event-менеджмент для малого бизнеса" 
        br
        | - "Microsoft Project. Три ступени интеграции" 
        br
        | - "Эко-менеджмент. Организация как организм"
      li #[span.red Автор и разработчик] методик в сфере оптимизации обучения и работы с информацией