//=== BLOCK-3
section.block-3.sec
  .container
    .block-wrap
      p Технология эффективного чтения позволит вам увеличить скорость чтения минимум в 2 раза, при этом значительно улучшив навыки запоминания и понимания информации.
      button.btn.block-btn.js-getModal Зарегистрироваться