//=== BLOCK-6
section.block-6.sec
  .container
    i.ico
    .fb-block
      p.title «Спасибо нашему преподавателю»
      .desc Курс организован четко, последовательно от простого к сложному, позволяет ознакомиться с различными технологиями работы по повышению скорости и усваеваемости текста. Спасибо нашему преподавателю Ольге Мамонтовой, держащей нас в постоянном напряжении #[span и в нужном] тонусе.
      .name Двойнишникова Татьяна
    .fb-block
      p.title «Стал больше читать и намного быстрее»
      .desc Хоть вначале и был какой-то скептицизм, результаты действительно удивили. #[span Стал больше читать] и намного быстрее.
      .name Гальченко Борис