//=== BLOCK-4
section.block-4.sec
  .container
    .row
      .col
        .block-cont
          h2.block-title На вебинаре не будет:
          ul.block-list
            li Бессмысленной воды и пустых разговоров;
            li Методик, которые учат читать быстро, но при этом не учитывают смысл и осознанность в работе #[span с текстом;]
            li Бессистемного набора инструментов, применить которые в обычной жизни не представляется возможным.
      .col
        .block-cont
          p Для обновленного курса «Эффективное чтение» #[span мы учли и проработали] многие недочеты #[span и спорные] моменты, которые возникали при прохождении предыдущих курсов #[span по скорочтению] #[span - надеемся, вам понравится!]