//=== JUMBOTRON
header.jumb
  .container
    //=== Logo
    .jumb__logo-wrap
      .logo
        a(href="http://advance-club.ru")
          img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42

    .jumb__main-desc
      .jumb__untitle Бесплатный вебинар
      time.jumb__time 4 октября 2017 #[br] 20:00
      h1.jumb__title «Эффективное чтение»
      span.jumb__play.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1503936542.1197871107&amp;doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&amp;activation=1&amp;doneurl2=http%3A%2F%2Fadvance-club.ru%2F/thanks_uni")
      .jumb__bottom-info
        .left-info
          p.info-text #[span.js-getModal Улучшить] концентрацию #[br] и скорость восприятия информации;

          p.info-text #[span.js-getModal Увеличить] словарный запас;
        .right-info


          p.info-text #[span.js-getModal Запомнить] бóльший объем #[br] информации;
          p.info-text #[span.js-getModal Развить] внимание, память и лексикон.