/*=== CALENDAR ===*/

.calendar {

  &__table {
    @media(max-width: $sm-screen - 1){
      max-width: none;
      overflow-x: scroll;
    }
    max-width: 770px;
    margin: 0 auto;

    &--shadow {
      position: relative;

      &:after {
        @media(max-width: $sm-screen - 1) {
          height: 65px;
        }
        position: absolute;
        content: '';
        display: block;
        right: 0;
        bottom: 0;
        left: 0px;
        width: 101%;
        height: 80px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 1%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 77%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 77%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      }
    }
  }

  table {
    @media(max-width: $sm-screen - 1){
      width: 640px;
      margin: 0 auto;
    }
    width: 100%;
  }

  th {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
  }

  td {
    @media(max-width: $sm-screen - 1){
      height: 85px;
    }
    width: calc(100%/7);
    height: 110px;
    padding: 8px 0;
    font-weight: 100;
    color: #e6e6e6;
    text-align: center;

    span {
      display: inline-block;
      width: 100%;
      line-height: 1;
    }
  }

  &__day {
    border: 1px solid #e6e6e6;
  }

  td.calendar__day--work,
  td.calendar__day--week,
  td.calendar__day--record-day,
  td.calendar__day--practice-day,
  td.calendar__day--theory-day {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  td.calendar__day--work {
    color: $l-black;
  }

  td.calendar__day--week {
    color: #ff5a5a;

    .time {
      color: $l-black;
    }
  }

  td.calendar__day--record-day,
  td.calendar__day--practice-day {
    color: $white;

    &:before {
      background-color: #ff5a5a;
      border:1px solid #ff5a5a;
      z-index: 5;
    }
  }

  td.calendar__day--theory-day {
    color: $white;

    &:before {
      background-color: #0669b2;
      border:1px solid #0669b2;
      z-index: 5;
    }
  }

  .td-inner {
    position: relative;
    z-index: 10;
  } 

  .date {
    @media(max-width: $sm-screen - 1){
      font-size: 32px;
    }
    font-size: 48px;
  }

  .month {
    @media(max-width: $sm-screen - 1){
      font-size: 16px;
    }
    font-size: 24px;
  }

  .time {
    font-size: 14px;
    padding-top: 5px;
  }

  .calendar__day--info td {
    height: auto;
    font-size: 16px;
    color: #ff5a5a;
    font-weight: 400;
    padding: 5px 0 0;
  }
}

.cal-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &__color {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
  }

  &__name {
    font-size: 24px;
    font-weight: 100;
  }

  &__block {
    @media(max-width: $sm-screen - 1){
      margin: 0 50px;
    }
    @media(max-width: 480px){
      margin: 0 10px;
    }
    margin: 0 70px;

    &--theory {

      .cal-info__color {
        background-color: #0669b2;
      }

      .cal-info__name {
        color: #0669b2;
      }
    }

    &--practice {

      .cal-info__color {
        background-color: #f7554f;
      }

      .cal-info__name {
        color: #f7554f;
      }
    }
  }
}