.jumb {
  @media(max-width: $sm-screen - 1) {
    height: auto;
    max-height: none;
  }

  &__desc--lem {
      @media (max-width: $sm-screen - 1) {
        font-size: 42px;
      }
    font-family: $lemon;
    font-size: 54px;
    font-weight: 400;
    color: #3f3e5c;
    margin-bottom: 46px;
    letter-spacing: 2px;
  }

  &__over-title {
    @media(max-width: $sm-screen - 1) {
        font-size: 28px;
      }
    font-size: 36px;
    font-weight: 400;
  }

  &__desc {
    font-size: 36px;
    font-weight: 300;
  }

  &__address {

    a {
      display: inline-block;
      color: inherit;
      border-bottom: 1px dashed $white;
      line-height: 1;
      transition: all .3s;

      &:hover {
        border-color: transparent;
      }
    }
  }
}