//=== JUMB
section.jumb
  .container
    .jumb__main-desc
      .jumb__date(datetime="2017-08-19") 19 августа 2017
      .jumb__title День открытых дверей
        br
        | Advance
      .jumb__address #[i] #[span Санкт-Петербург, #[span ул.Таврическая, 2]]
      .jumb__desc Экспресс-доставка технологий в Вашу голову
        br
        | за несколько часов!

      .btn-block
        button.btn.jumb__btn.js-getModal Принять участие бесплатно

      .jumb__more Что будет?
      a.jumb__ankor(href="#tech" data-target="#tech")