//=== PART 1
section.part-1#part-1.sec
  .container
    h2.part-title Часть 1
      span.untitle--nexa Развивайтесь играючи!
    p.sec-desc Открывайте и совершенствуйте возможности Вашего мозга в формате “Игры по станциям”, 
      br
      | каждая из которых даст Вам новое знание или навык:
    .block-wrap
      //=== Block
      .part-1-block
        .part-block__img
          img(src="img/open_day/station-1.png", alt="station-1")
        .block-desc
          .name 1 станция 

          .title Ассиметричная гимнастика
          .desc Разомните и зарядите свой мозг, используя различные приемы
            br
            | пальчиковой и ассиметричной гимнастики.

      //=== Block
      .part-1-block
        .part-block__img
          img(src="img/open_day/station-2.png", alt="station-2")
        .block-desc
          .name 2 станция
          .title Работа с образами
          .desc Научитесь соединять образы так, чтобы они хорошо запоминались
            br
            | и запомните больше, чем привыкли, уже сегодня.
      //=== Block
      .part-1-block
        .part-block__img
          img(src="img/open_day/station-3.png", alt="station-3")
        .block-desc
          .name 3 станция
          .title Запоминание слов
          .desc Запомните до 50 абсолютно новых иностранных слов, и сразу же пройдите тестирование.
            br
            | Спорим, у Вас получится!
      //=== Block
      .part-1-block
        .part-block__img
          img(src="img/open_day/station-4.png", alt="station-4")
        .block-desc
          .name 4 станция 
          .title Запоминание формул
          .desc Научитесь с легкостью запоминать сложную информацию на примере
            br
            | запоминания формул. Даже если формулы не давались в школе - у Вас получится!
      //=== Block
      .part-1-block
        .part-block__img
          img(src="img/open_day/station-5.png", alt="station-5")
        .block-desc
          .name 5 станция 
          .title Запоминание изображений
          .desc Деньги могут приносить пользу не только кошельку, но и интеллекту.
            br
            | Узнайте, как можно тренировать память с помощью обычной денежной купюры!
    .bottom-desc Оцените в действии технологии Advance, 
      br
      | развивайтесь и получайте удовольствие в игровом формате!
    .btn-block
      button.btn.part-1__btn.js-getModal Принять участие бесплатно
