//=== PART 3
section.part-3#part-3.sec
  .container
    h2.part-title Часть 3
      span.untitle--nexa Лекции
    .block-wrap
      .part-3__block.part-3__block-1
        .author-img
          img(src="img/open_day/lector-1.png" alt="Глеб Владимирович Годун")
        .desc-block
          .author-name Глеб Владимирович Годун
          .author-prog "Другое человечество"
          .author-desc Что мы знаем про другие виды людей, живших совсем недавно #[br] #[span на нашей] планете.
      .part-3__block.part-3__block-2
        .author-img
          img(src="img/open_day/lector-2.png" alt="Александр Валерьевич Горец")
        .desc-block
          .author-name Александр Валерьевич Горец
          .author-prog "Во всем ли виноваты варвары?"
          .author-desc Причины катастроф древних и не очень древних цивилизаций.

    .bottom-desc Проведите вечер в полезном формате
    .btn-block
      button.btn.part-3__btn.js-getModal Занять место