//=== PART-2
section.part-2#part-2.sec
  .container
    h2.part-title Часть 2
      span.untitle--nexa Практические уроки
    .slide-block
      //=== Slide
      .part-2__slide
        .main-desc
          .title Английский #[span для взрослых]
          .desc Участники освоят #[strong до 30 фраз] современного #[strogn «живого» английского] языка, используя популярный инструмент расширения словарного запаса – просмотр фильма.
        .author-block
          .author-img
            img(src="img/open_day/prepod-1.png" alt="Дарья Гладких")
          .author-pos Преподаватель:
          .author-name Дарья Гладких
        .btn-block
          a.btn.part-2__btn(href="#~") Я буду

      //=== Slide
      .part-2__slide
        .main-desc
          .title Английский #[span для взрослых]
          .desc Знакомство и усвоение современной устной и письменной интернет-коммуникации. Участники научатся использовать более #[strong 20 оборотов] и структур #[strong интернет-общения на английском языке] в увлекательном формате с реальными людьми.
        .author-block
          .author-img
            img(src="img/open_day/prepod-2.png" alt="Виктория Тимофеева")
          .author-pos Преподаватель:
          .author-name Виктория Тимофеева
        .btn-block
          a.btn.part-2__btn(href="#~") Я в деле

      //=== Slide
      .part-2__slide
        .main-desc.main-desc--orange
          .title Английский #[span для детей]
          .desc На этом уроке участники окунутся в дружескую атмосферу английских игр и смогут #[strong написать свою историю] с непредсказуемым поворотом сюжета.
        .author-block
          .author-img
            img(src="img/open_day/prepod-3.png" alt="Екатерина Каменская")
          .author-pos Преподаватель:
          .author-name Екатерина Каменская
        .btn-block
          a.btn.part-2__btn(href="#~") Я приду

      //=== Slide
      .part-2__slide
        .main-desc.main-desc--orange
          .title Английский #[span для детей]

          .desc Увлекательная ролевая игра, в ходе которой школьники обогатят свой словарный запас #[strong на 20 - 30 устойчивых словосочетаний] “детективного жанра” и значительно улучшат навыки устной речи в различных ситуациях общения.
        .author-block
          .author-img
            img(src="img/open_day/prepod-4.png" alt="Светлана Огородова")
          .author-pos Преподаватель:
          .author-name Светлана Огородова
        .btn-block
          a.btn.part-2__btn(href="#~") Записаться

      //=== Slide
      .part-2__slide
        .main-desc.main-desc--blue
          .title Технология запоминания слов
          .desc  Занятие по технологиям Advance, участники которого научатся запоминать слова из 5 разных языков, включая такие чуждые на первый взгляд европейскому мышлению, как слова корейского языка. 
        .author-block
          .author-img
            img(src="img/open_day/prepod-5.png" alt="Некий Технолог")
          .author-pos Преподаватель:
          .author-name Некий Технолог
        .btn-block
          a.btn.part-2__btn(href="") Я в деле

    .more-desc Приходите с детьми и проведите время с пользой!
    .btn-block
      button.btn.part-2__btn-main Посетить несколько занятий
      .info Оставьте Ваши контакты и мы Вам перезвоним