//=== TECH
section.tech#tech
  .container
    h2.tech-title Вас ждут современные технологии обучения
      br
      | в трех форматах

    .tech-slider
      .slide-blocks
        //=== Tech block
        .tech-block
          time.time(datetime="2017-08-19T11:00") с 11:00
          .title Игра по станциям 
          .desc с живой презентацией
            br
            | технологий и получением 
            br
            | быстрого профита 
          .btn-block
            a.btn.tech__btn(href="#part-1" data-target="#part-1") Подробнее

        //=== Tech block
        .tech-block
          time.time(datetime="2017-08-19T14:00") с 14:00
          .title Практические уроки


          .desc Технологии в действии 
            br
            | для Вас и Ваших детей
            i Количество мест ограничено, 
              br
              | посещение только по предварительной записи.
          .btn-block
            a.btn.tech__btn(href="#part-2" data-target="#part-2") Подробнее

        //=== Tech block
        .tech-block
          time.time(datetime="2017-08-19T15:00") с 15:00
          .title Лекции
          .desc Интересные темы в уютной 
            br
            | атмосфере
            i Количество мест ограничено, 
              br
              | посещение только по предварительной записи
          .btn-block
            a.btn.tech__btn(href="#part-3" data-target="#part-3") Подробнее