//=== Author
section.author.sec
  .container
    h2.author__block-title.author__block-title--head Кто ведёт?
    .row
      .col.col-first
        .author__block
          img(src="img/eng/eng_children_prog/kamenskaya.jpg" alt="author")
      .col.col-last
        .author__block
          h2.author__block-title.author__block-title--block Кто ведёт?
          h3.author__block-name Екатерина Каменская
          p.author__block-desc Преподаватель английского языка в Advance
          ul.author__list
            li #[strong Образование:] Факультет международных экономических отношений СПбГЭУ, красный диплом

            li Педагогический стаж #[span с 2013] года

            li #[strong Свободно владеет] испанским и английским языками

            li Являлась #[strong директором английского лагеря] в Черногории

            li #[strong Проживала в США и Испании] в целях совершенствования английского и испанского языков и повышения квалификации
          