//=== Cost
section.cost.sec
  .container
    h2.cost__name Стоимость всего курса: 
    .cost__block
      .cost__old 33 900 
        span.cost__rf &#8381;
      .cost__new 25 900 
        span.cost__rf &#8381;
    .btn-block
      button.btn.cost__btn.js-getModal(data-action="") Оставить заявку