//=== Effect
section.effect.sec
  .container
    .effect__info #[span.red-class Не уверены в эффективности целого курса?]
      br
      | Попробуйте первый из трех блоков курса всего за 
      span.cost__old 15 000 
        span.cost__rf &#8381; 
      span.cost__new.red-class 9 900
        span.cost__rf &#8381;,
      br
      | а затем оцените результат и примите решение!
    .btn-block
      button.btn.effect__btn.js-getModal(data-action="") Оставить заявку