//=== Block
section.block-1
  .container
    h2.block-1__title Две группы для разных уровней:
    .row
      .col
        .block-1__img
          img(src="img/eng/eng_free/harry-potter.svg", alt="harry-potter")
        .block-1__time 11:00-14:00
        .block-1__desc Начинающий уровень
      .col
        .block-1__img
          img(src="img/eng/eng_free/gentleman.svg", alt="gentleman")
        .block-1__time 15:00-18:00
        .block-1__desc Продвинутый уровень