//=== BLOCK-3
section.block-3.sec
  .container
    .block-3__wrap
      h2.block-3__desc #[span Каждый участник] попробует технологии Advance, которые можно с легкостью применять для любого иностранного языка.
      .block-3__more-desc Пробные уроки английского языка
      .btn-block
        button.btn.block-3__btn.js-getModal(data-action="") Попробовать бесплатно
