//=== BLOCK-4
section.block-4.sec
  .container
    .block-4__wrap
      h2.block-4__title В чем отличие Advance от других образовательных центров?
      .btn-block
        button.btn.block-4__btn.js-getModal(data-action="") Узнать