//=== BLOCK-2
section.block-2.sec
  .container
    h2.block-2__title Приходите обязательно, если Вы:
    .row
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_free/vocabulary.svg", alt="vocabulary")
          .block__desc #[span Испытываете трудности]
            br
            | с грамматикой 
            br
            | английского языка
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_free/list.svg", alt="list")
          .block__desc #[span Хотите понять]
            br
            | основной принцип 
            br
            | быстрого запоминания 
            br
            | иностранных слов
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_free/dialog.svg", alt="dialog")
          .block__desc #[span Готовы привнести]
            br
            | в активный словарный запас 
            br
            | несколько десятков 
            br
            | новых слов за одно занятие
