//=== Jumbotron
section.jumb.jumb--eng-free.sec
  .container
    .jumb__main-desc
      h2.jumb__title Пробные уроки английского языка
      span.jumb__untitle Полноценное 3х-часовое занятие по авторским технологиям 
        br
        | ускоренного обучения Николая Ягодкина
      .jumb__untitle-red Попробуйте английский с технологиями запоминания
        span бесплатно!
      time.jumb__date(datetime="2017-08-12") 12 августа 2017, #[span 11:00-18:00]
      .jumb__address #[i] #[span Очно в Москве,] #[a(href="#map" data-target="#map") ул. Павловская, 18]
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="") Погрузиться в английский
      .more-info Каждый участник получает секреты методик в подарок!