@import url('https://fonts.googleapis.com/css?family=Marck+Script');

// Jumb
@import 'partials/jumb';
.jumb {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(21, 15, 17, 0) 0%, #150f11 50%, rgba(21, 15, 17, 0) 100%);
    opacity: 0.5;
    z-index: 1;
  }

  .container {
    z-index: 5;
  }

  &__slova {
    @media(max-width: $md-screen - 1) {
      background-image: url('../img/slova/mob/bg-1000slov-1-md.jpg');
    }
    @media(max-width: $sm-screen - 1) {
      background-image: url('../img/slova/mob/bg-1000slov-1-sm.jpg');
    }
    height: auto;
    max-height: none;
    background-image: url('../img/slova/bg-1000slov-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.sec {
      @media(max-width: $md-screen - 1) {
        padding-bottom: 40px;
      }
      padding: 0 0 70px;
    }

    .jumb__content {
      @media(max-width: $md-screen - 1) {
        padding-top: 0;
      }
      line-height: 1.1;
      color: $white;
      text-align: center;
      padding-top: 20px;
    }

    .jumb__over-title {
      @media(max-width: $sm-screen - 1) {
          font-size: 26px;
        }
      font-size: 30px;
      font-weight: 300;
      overflow: hidden;
    }

    .jumb__title {
      @media(max-width: $sm-screen - 1) {
        font-size: 46px;
      }
      @media(max-width: 480px) {
        font-size: 42px;
        margin: 0 auto 40px;
      }
      max-width: 940px;
      font-size: 72px;
      font-weight: 300;
      margin-top: 15px;
      line-height: .9;
      margin: 0 auto 55px;
    }

    .jumb__warn {
      @media(max-width: $sm-screen - 1) {
        font-size: 32px;
      }
      @media(max-width: 480px) {
        font-size: 26px;
      }
      position: relative;
      font-family: 'Marck Script';
      font-size: 48px;
      font-weight: 400;
      color: $red;
      margin-bottom: 45px;

      &:before {
        @media(max-width: $sm-screen - 1) {
          width: 430px;
          height: 50px;
        }
        @media(max-width: 480px) {
          width: 300px;
          height: 34px;
        }
        position: absolute;
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 586px;
        height: 67px;
        background: url('../img/slova/white-brush.png') center no-repeat;
        background-size: cover;
        z-index: 1;
      }

      span {
        position: relative;
        z-index: 5;
      }
    }

    .jumb__date {
      @media(max-width: $sm-screen - 1) {
        font-size: 48px;
      }
      @media(max-width: 480px) {
        font-size: 42px;
      }
      width: 100%;
      font-size: 60px;
      font-weight: 300;
    }

    .jumb__address {
      @media(max-width: $sm-screen - 1) {
        font-size: 26px;
      }
      font-size: 30px;
      font-weight: 300;

      a {
        display: inline-block;
        line-height: .8;
        color: $white;
        border-bottom: 1px dashed rgba($white, 0.8);
        padding-bottom: 2px;
      }
    }

    .btn-block {
      padding-top: 50px;
    }

    .jumb__btn {
      @include btn-red(571px);
      font-size: 30px;
      font-weight: 400;
      border: 2px dotted $white;
      text-transform: none;
      @media(max-width: $sm-screen - 1) {
        font-size: 22px;
      }
    }
  }
}

.cost-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;

  .cost__old,
  .cost__new {
    @media(max-width: $sm-screen - 1){
      font-size: 48px;
    }
    @media(max-width: 48px){
      font-size: 36px;
    }
    font-size: 60px;
    margin: 0 20px;
  }

  .cost__old {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      display: block;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 4px;
      background-color: $white;
    }
  }

  .cost__new {
    font-weight: 500;
  }

  .cost__rf {
    font-weight: 400;
  }
}

@import 'partials/block';

/*=== BLOCK-2 ===*/

.block-2 {
  @media(max-width: $md-screen - 1) {
    background-image: url('../img/slova/mob/bg-1000slov-2-md.jpg');
  }
  @media(max-width: $sm-screen - 1) {
    background-image: url('../img/slova/mob/bg-1000slov-2-sm.jpg');
  }
  background-image: url('../img/slova/bg-1000slov-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wrap {
    @include cf();
  }

  &__content {
    @media(max-width: $md-screen - 1) {
      float: none;
      max-width: none;
    }
    float: right;
    width: 100%;
    max-width: 780px;
  }

  &__title {
    @media(max-width: $md-screen - 1) {
      text-align: center;
    }
    @extend .sec-title;
    color: $red;
    text-align: left;
    margin-bottom: 15px;
  }

  &__desc {
    @media(max-width: $md-screen - 1) {
      text-align: center;
    }
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 45px;
  }

  .col {
    @include col();
    @include col-6();
    @include col-sm-12();
  }

  .col-full {
    @include col-12();
  }

  .block {

    &__wrap {
      @media(max-width: $sm-screen - 1) {
        br {
          display: none;
        }
      }
      position: relative;
      padding-left: 65px;
      margin-bottom: 50px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        top: 4px;
        left: 0;
        width: 52px;
        height: 52px;
        background-repeat: no-repeat;
        background-position: center;
      }

      &--1:before {
        background-image: url('../img/slova/icons/algorithm-bw.svg');
      }

      &--2:before {
        background-image: url('../img/slova/icons/stopwatch.svg');
      }

      &--3:before {
        background-image: url('../img/slova/icons/tasks.svg');
      }

      &--4:before {
        background-image: url('../img/slova/icons/manager.svg');
      }

      &--5:before {
        background-image: url('../img/slova/icons/clipboard.svg');
      }

      .name,
      .text {
        display: inline;
        font-size: 24px;
        font-weight: 100;
      }

      .name {
        padding-right: 6px;
        color: $red;
      }
    }
  }

  .btn-block {
    margin-top: 20px;
  }

  &__btn {
    @media(max-width: $md-screen - 1) {
      margin: 0 auto;
    }
    @include btn-red(571px);
    margin: 0;
  }
}

@import 'partials/calendar';

// Why

.about {
  @media(max-width: $md-screen - 1) {
    background-image: url('../img/slova/mob/bg-training-md.jpg')
  }
  background-image: url('../img/slova/bg-training.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.sec {
    padding-bottom: 20px;
  }

  .sec-title {
    color: $red;
  }

  .row {
    @include justify-content-md(center);
  }

  .col {
    @include col();
    @include col-4();
    @include col-md-10();
    @include col-sm-10();
    @include col-xs-11();
  }

  .block__name {
    @media(max-width: $md-screen - 1) {
      br {
        display: none;
      }
    }
    font-weight: 100;

    strong {
      display: inline-block;
      width: 100%;
      font-weight: 300;
    }
  }
}

/*=== BLOCK-3 ===*/

.block-3 {

  &__content {
    background: url('../img/slova/landmarks.png') center top no-repeat;
    padding-bottom: 70px;
    margin-top: 30px;
  }

  .sec-title {
    padding-top: 150px;
  }

  &__desc {
    max-width: 1030px;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
  }
}

@import 'partials/tabs';

// Tabs

.tab__list-item {
  width: calc(100%/2);
}

.tab__list-item:nth-child(2) {
  left: auto;
}

// Cost

.cost {
  background-image: url('../img/slova/bg-price.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  text-align: center;

  &__title,
  &__over-title {
    @media(max-width: $sm-screen - 1) {
      font-size: 28px;
    }
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 5px;

    span {
      font-size: 36px;
      font-weight: 400;
    }
  }

  &__over-title {
    margin-bottom: 30px;
  }

  &__block {
    font-weight: 400;
  }

  &__new {
    @media(max-width: $sm-screen - 1) {
      font-size: 48px;
    }
    font-size: 60px;
  }

  &__bonus {
    font-size: 23px;
    padding: 30px 0 40px;
    font-weight: 300;

    a {
      display: inline-block;
      border-bottom: 1px dashed rgba($white, .8);
      transition: all .3s;
      color: $white;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__btn {
    @include btn-trans(570px);
      font-size: 30px;
      font-weight: 300;
      text-transform: none;
    @media(max-width: $sm-screen - 1) {
      font-size: 22px;
    }
  }
}


@import 'partials/timer/timer';
@import 'partials/7Tech/author';
@import 'partials/reviews';
// @import 'partials/7Tech/recommend';
@import 'partials/map/map';

.map__info {
  margin-top: 3.5em;
}

.map__info-list {
  font-size: 26px;
}