// === ADVANTEGES
section#advantages.advantages
  .container
    h1.sec-title Advance – это...
    .advantages__tabs.adg-tabs
      .adg-tabs__wrap
        .adg-tabs__desc.adg-tabs__desc_active
          h3.desc__title Обучение, непохожее на все другие
          p.desc__info
            | за счет новаторского подхода к образовательному процессу. Это яркие способы развития памяти, внимания и изучения иностранных  языков.
        .adg-tabs__desc
          h3.desc__title Инструменты
          p.desc__info для успешного развития личности во всех сферах жизни.
        .adg-tabs__desc
          h3.desc__title Методики самообучения любым дисциплинам:
          p.desc__info от школьных предметов до целых культур и научных областей.
        .adg-tabs__desc
          h3.desc__title Ведущие специалисты,
          p.desc__info
            | которые любят учиться и учить, помогая студентам достигать желаемого результата в заявленные сроки.
        .adg-tabs__desc
          h3.desc__title Мировые рекорды в самообучении:
          p.desc__info
            | 53 человека запомнили по 1000 иностранных слов всего за 1 день благодаря методике запоминания лексики Николая Ягодкин.
        .adg-tabs__desc
          h3.desc__title Общедоступные технологии,
          p.desc__info которые имеют подробное описание принципа действия и не имеют аналогов.
      ul.adg-tabs__list
        li.adg-tabs__item.adg-tabs__item_one(data-index='0')
          .adg-tabs__item-inner
        li.adg-tabs__item.adg-tabs__item_two(data-index='1')
          .adg-tabs__item-inner
        li.adg-tabs__item.adg-tabs__item_three(data-index='2')
          .adg-tabs__item-inner
        li.adg-tabs__item.adg-tabs__item_four(data-index='3')
          .adg-tabs__item-inner
        li.adg-tabs__item.adg-tabs__item_five(data-index='4')
          .adg-tabs__item-inner
        li.adg-tabs__item.adg-tabs__item_six(data-index='5')
          .adg-tabs__item-inner