// === AUTHOR
section.author.sec
  .container
    h2.sec-title
      | Николай Ягодкин
    .author__photo
    // === Svg elements
    .svg_lines
      svg.svg_line.one(viewbox='0 0 120 130', xmlns='http://www.w3.org/2000/svg', aria-labelledby='title')
        path(d='M 10,10 C 14,10 14,16 10,16 M 10,16 C 6,16 6,10 10,10 M 14,12 L 14,12 50,12 L 50,120 L 101,120 M 104,117 C 108,117 108,123 104,123 M 104,123 C 100,123 100,117 104,117')
      svg.svg_line.two(viewbox='0 0 120 50', xmlns='http://www.w3.org/2000/svg', aria-labelledby='title')
        path(d='M 10,10 C 14,10 14,16 10,16 M 10,16 C 6,16 6,10 10,10 M 14,12 L 14,12 74,12 L 74,51 L 102,51 M 105,48 C 109,48 109,54 105,54 C 101,54 101,48 105,48')
      svg.svg_line.three(viewbox='0 0 120 50', xmlns='http://www.w3.org/2000/svg', aria-labelledby='title')
        path(d='M 10,10 C 14,10 14,16 10,16 M 10,16 C 6,16 6,10 10,10 M 14,12 L 14,12 74,12 L 74,51 L 102,51 M 105,48 C 109,48 109,54 105,54 C 101,54 101,48 105,48')
      svg.svg_line.four(viewbox='0 0 120 130', xmlns='http://www.w3.org/2000/svg', aria-labelledby='title')
        path(d='M 10,10 C 14,10 14,16 10,16 M 10,16 C 6,16 6,10 10,10 M 14,12 L 14,12 50,12 L 50,120 L 101,120 M 104,117 C 108,117 108,123 104,123 M 104,123 C 100,123 100,117 104,117')
      svg.svg_line.five(viewbox='0 0 120 130', xmlns='http://www.w3.org/2000/svg', aria-labelledby='title')
        path(d='M 10,10 C 14,10 14,16 10,16 M 10,16 C 6,16 6,10 10,10 M 14,12 L 14,12 50,12 L 50,120 L 101,120 M 104,117 C 108,117 108,123 104,123 M 104,123 C 100,123 100,117 104,117')
      svg.svg_line.six(viewbox='0 0 120 50', xmlns='http://www.w3.org/2000/svg', aria-labelledby='title')
        path(d='M 10,10 C 14,10 14,16 10,16 M 10,16 C 6,16 6,10 10,10 M 14,12 L 14,12 74,12 L 74,51 L 102,51 M 105,48 C 109,48 109,54 105,54 C 101,54 101,48 105,48')
      svg.svg_line.seven(viewbox='0 0 120 50', xmlns='http://www.w3.org/2000/svg', aria-labelledby='title')
        path(d='M 10,10 C 14,10 14,16 10,16 M 10,16 C 6,16 6,10 10,10 M 14,12 L 14,12 74,12 L 74,51 L 102,51 M 105,48 C 109,48 109,54 105,54 C 101,54 101,48 105,48')
      svg.svg_line.eight(viewbox='0 0 120 130', xmlns='http://www.w3.org/2000/svg', aria-labelledby='title')
        path(d='M 10,10 C 14,10 14,16 10,16 M 10,16 C 6,16 6,10 10,10 M 14,12 L 14,12 50,12 L 50,120 L 101,120 M 104,117 C 108,117 108,123 104,123 M 104,123 C 100,123 100,117 104,117')
    // Author block
    .author_block.author_block--eng
      .block.one.left
        h6
          | Идеолог Advance.
          br
          | Автор технологий,
          br
          | применяемых в обучении
        img(src='img/author_ico_1.png', height='64', width='64', alt='')
      .block.two.left
        h6
          | Обладатель тренерских
          br
          |  сертификатов Российской
          br
          |  Психотерапевтической
          br
          |  Ассоциации (РПА) и Института
          br
          |  им.Бехтерева
        img(src='img/author_ico_2.png', height='50', width='64', alt='')
      .block.three.left
        h6
          | Сюжеты о его методиках
          br
          |  показывали по Первому каналу, 
          br
          | НТВ и другим каналам
        img(src='img/author_ico_3.png', height='62', width='64', alt='')
      .block.four.left
        h6
          | Его полные программы 
          br
          | прошли более 30 000 человек, 
          br
          | бесплатные семинары -
          br
          |  более 100 000
        img(src='img/author_ico_4.png', height='64', width='49', alt='')
      .block.five.right
        h6
          | В Интернете отзывов о нем и его
          br
          |  технологиях больше, чем обо всех
          br
          |  других авторах данного направления
        img(src='img/author_ico_5.png', height='58', width='66', alt='')
      .block.six.right
        h6
          | Самый известный в России
          br
          |  специалист по технологиям 
          br
          | обучения и изучения языков
        img(src='img/author_ico_6.png', height='62', width='64', alt='')
      .block.seven.right
        h6
          | Педагог (2 высших педагогических
          br
          |  образования), специалист по
          br
          |  инновационным методикам обучения
        img(src='img/author_ico_7.png', height='64', width='64', alt='')
      .block.eight.right
        h6
          | Провел десятки лекций
          br
          | и вебинаров в крупнейших ВУЗах
          br
          |  СПб (СПбГУ, ФИНЭК, ИТМО,
          br
          |  СЗАГС, Политех и др.),
          br
          |  преподавал в Южной Корее
        img(src='img/author_ico_8.png', height='58', width='64', alt='')