//=== Cost
section.cost.sec
  .container
    .cost__content
      h2.sec-title Стоимость курса
      h3.sec-untitle  &#171;Свободный английский за 3 месяца&#187;
      .cost__block
        .cost__old 26 900 
          span.cost__rf ₽
        .cost__new 23 900 
          span.cost__rf ₽
      a.btn.cost__btn(href="#~") Занять место