//=== FAQ
section.faq.sec
  .container
    h2.sec-title Часто задаваемые вопросы
    .faq__content
      .faq__block
        .faq__name Могу ли я учить несколько языков одновременно?
        ul.faq__list
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
      .faq__block
        .faq__name Еще один вопрос. Еще один вопрос. Еще один вопрос. 
        ul.faq__list
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
      .faq__block
        .faq__name Еще один вопрос. Еще один вопрос. Еще один вопрос. 
        ul.faq__list
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
      .faq__block
        .faq__name Еще один вопрос. Еще один вопрос. Еще один вопрос. 
        ul.faq__list
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
      .faq__block
        .faq__name Еще один вопрос. Еще один вопрос. Еще один вопрос. 
        ul.faq__list
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
          li Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос. Ответ на вопрос.
script.
  $('.faq__name').each(function(index, elem) {
    $(elem).click(function() {
      $(this).parent('.faq__block').toggleClass('faq__block--active');
      $(this).siblings('.faq__list').slideToggle();
    });
  });