// Footer
footer.footer
  .container
    .footer__inner-wrap
      .footer__informer.informer
        ul.footer__follow.follow
          li.follow__item.follow__item_vk
            a(href='https://vk.com/advanceclub')
          li.follow__item.follow__item_fb
            a(href='https://www.facebook.com/pages/Advance-Club/370830876444181?fref=ts')
          li.follow__item.follow__item_inst
            a(href='https://www.instagram.com/advance_courses/')
          li.follow__item.follow__item_ok
            a(href='http://ok.ru/group/52611362652241')
          li.follow__item.follow__item_yt
            a(href='https://www.youtube.com/user/advanceclub?sub_confirmation=1')
        .informer__tel_bottom
          span.tel
            | +7 (812) 363-43-53 
            b |
          span.tel
            b |
            |  8 (800) 700-53-42
        p.footer__copy
          a(href="http://advance-club.justclick.ru/agreement") Advance © 2017. Соглашение об обработке персональных данных 
          br 
          a(href="http://advance-club.ru/partner/") Партнёрская программа | 
          a(href="http://advance-club.justclick.ru/conf") Политика конфиденциальности 
          br
          | По вопросам сотрудничества yagodkin.n@gmail.com