//=== HEADER
header.header
  button.header__toggle
    span
  .container
    .header__content-wrap
      a.header__logo(href='http://advance-club.ru')
        img(src='img/main-logo.png', alt='logo')
      .header__content
        h1.header__title
          | Центр образовательных технологий Николая Ягодкина
        //- p.header__desc
        //-   a(href='http://advance-club.ru/fulllist/?link=spb') Санкт-Петербург
        //-   span  • 
        //-   a(href='http://advance-club.ru/fulllist/?link=msk') Москва
        //-   span  • 
        //-   a(href='http://advance-club.ru/fulllist/?link=online') Онлайн весь мир
      .header__informer
        ul.action__follow.follow
          li +7 (812) 363-43-53
          li 8 (800) 700-53-42

        //- // === Login in
        a.action__personal(href='http://advanglish.ru/%D0%B2%D1%85%D0%BE%D0%B4/') Вход в личный кабинет
  //- Header nav
  include ../components/nav