section.jumb.sec
  .container
    .jumb__title-wrap
      h2.sec-title Ближайшие программы
      a.button.jumb__btn-more(href='http://advance-club.ru/fulllist') Смотреть полное расписание
    .jumb__slider
      .slider-1
        // === Jumb block
        .jumb__block
          .jumb__header
            .jumb__header-img(style="background-image: url('z-index/img/h-slide-bg-1.jpg');")
            .jumb__header-date
              time.date
                span 12
                small июня
          .jumb__content
            .jumb__content-wrap
              .jumb__name
                | Как выучить английский 
                br
                | за 3 месяца
              .jumb__desc Курс изучения английского языка по технологиям Advance в Санкт-Петербурге
            a.button.jumb__link(href='http://advance-club.ru/eng_standart/') Узнать подробнее
        // === Jumb block
        .jumb__block
          .jumb__header
            .jumb__header-img(style="background-image: url('z-index/img/h-slide-bg-5.jpg');")
            .jumb__header-date
              time.date
                span с 26
                small июня
          .jumb__content
            .jumb__content-wrap
              .jumb__name Учись учиться
              .jumb__desc Интенсивный курс для детей по технологиям Николая Ягодкина в Санкт-Петербурге
            a.button.jumb__link(href='http://advance-club.ru/genius_children_memory_spb/') Узнать подробнее
        // === Jumb block
        .jumb__block
          .jumb__header
            .jumb__header-img(style="background-image: url('z-index/img/h-slide-bg-6.jpg');")
            .jumb__header-date
              time.date
                span с 24
                small июля
          .jumb__content
            .jumb__content-wrap
              .jumb__name Английский для детей
              .jumb__desc
                | Команда Advance адаптировала флагманский курс по английскому языку для детей. Санкт-Петербург
            a.button.jumb__link(href='http://advance-club.ru/children_eng/') Узнать подробнее
        // === Jumb block
        .jumb__block
          .jumb__header
            .jumb__header-img(style="background-image: url('z-index/img/h-slide-bg-3.jpg');")
            .jumb__header-date
              time.date
                span с 29
                small июля
          .jumb__content
            .jumb__content-wrap
              .jumb__name Стань гением
              .jumb__desc
                | Авторский курс Николая Ягодкина по развитию навыков запоминания, самообучения и работы с большими объемами информации. Москва и Санкт-Петербург
            a.button.jumb__link(href='http://advance-club.ru/genius_adult/') Узнать подробнее
