// === PROGRAMMS
section.prog
  .container
    .row.row-inline
      // === Prog block
      .col-sm-6
        .prog__block.block-1
          .prog__content
            .prog__name Технологии обучения для детей
            .prog__desc
              | Курсы повышения эффективности обучения и улучшения памяти для ребят в возрасте от 10 до 18 лет очно в Москве и Санкт-Петербурге, а также онлайн по всему миру.
          a.button.prog__button(href='http://advance-club.ru/parents_meeting/') Подробнее
      // === Prog block
      .col-sm-6
        .prog__block.block-2
          .prog__content
            .prog__name Иностранные языки для детей
            .prog__desc
              | Образовательные технологии для освоения иностранных языков — ключевая специализация Advance. Наши педагоги адаптировали флагманский курс по английскому языку для детей и готовы представить его в новом формате.
          a.button.prog__button(href='http://advance-club.ru/children_eng/') Подробнее
      // === Prog block
      .col-sm-6
        .prog__block.block-3
          .prog__content
            .prog__name Технологии обучения для взрослых
            .prog__desc
              | Курсы по развитию интеллектуальных способностей, навыков запоминания, обучения и работы с большими объемами информации, а также — программы для родителей по эффективному сопровождению образования детей.
          a.button.prog__button(href='http://advance-club.ru/razvitie-pamyati/') Подробнее
      // === Prog block
      .col-sm-6
        .prog__block.block-4
          .prog__content
            .prog__name Иностранные языки для взрослых
            .prog__desc
              | Кратковременные и долгосрочные курсы для освоения любого уровня английского языка в зависимости от поставленных задач. Проработка грамматики и лексики в индивидуальном или групповом формате.
          a.button.prog__button(href='http://advance-club.ru/izuchenie-yazykov/') Подробнее
      // === Prog block
      .col-sm-6
        .prog__block.block-5
          .prog__content
            .prog__name Online продукты
            .prog__desc
              | Большинство курсов по повышению эффективности и иностранным языкам для взрослых и детей, а также — множество бесплатных материалов от специалистов Advance доступны по всему миру в удобном онлайн формате и в формате видеозаписей.
          a.button.prog__button(href='http://advance-club.ru/knowledge/') Подробнее
      // === Prog block
      .col-sm-6
        .prog__block.block-6
          .prog__content
            .prog__name.js-title(data-action='http://shop.advance-club.ru/subscribe/process/?rid[0]=1494837367.3174998552&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni') B2B продукты
            .prog__desc
              | Проведение корпоративных программ обучения образовательным технологиям и иностранным языкам для вашего бизнеса в удобном формате.
          button.button.prog__button.js-getModal Подробнее