//=== Reviews
section.reviews-slider.sec
  h2.sec-title Отзывы о курсах Advance для детей:
    //- br
    //- span Емкое и в то же время лаконичное собрание полезных технологий

  div.container
    div.my-flipster
      ul
        li(data-flip-title=" ")
          div.parent
            div.child
              img(src="img/icon-people/icon-demo.png" alt="feedback-icon")
              h6 #[b Александр Шурцов]
            div.child
              h6 
                span.child-desc «Семинар оказался довольно полезным. Доходчиво нам объяснили, почему не работают техники изучения языка, по которым нас учат в школах и ВУЗах. Были даны интересные техники, среди которых особенно хочется отметить просмотр сериалов на английском языке, заранее выучив слова из серии. Пожалуй, одно из самых эффективных средств для того, чтобы научиться понимать английскую речь на слух и развивать навык автоматического перевода. Уже проверено на себе :) Спасибо за семинар.»

        li(data-flip-title=" ")
          div.parent
            div.child
              img(src="img/icon-people/icon-demo.png" alt="feedback-icon")
              h6 #[b Александр Шурцов]
            div.child
              h6
                span.child-desc «Семинар оказался довольно полезным. Доходчиво нам объяснили, почему не работают техники изучения языка, по которым нас учат в школах и ВУЗах. Были даны интересные техники, среди которых особенно хочется отметить просмотр сериалов на английском языке, заранее выучив слова из серии. Пожалуй, одно из самых эффективных средств для того, чтобы научиться понимать английскую речь на слух и развивать навык автоматического перевода. Уже проверено на себе :) Спасибо за семинар.»


        li(data-flip-title=" ")
          div.parent
            div.child
              img(src="img/icon-people/icon-demo.png" alt="feedback-icon")
              h6 #[b Александр Шурцов]
            div.child
              h6 
                span.child-desc «Семинар оказался довольно полезным. Доходчиво нам объяснили, почему не работают техники изучения языка, по которым нас учат в школах и ВУЗах. Были даны интересные техники, среди которых особенно хочется отметить просмотр сериалов на английском языке, заранее выучив слова из серии. Пожалуй, одно из самых эффективных средств для того, чтобы научиться понимать английскую речь на слух и развивать навык автоматического перевода. Уже проверено на себе :) Спасибо за семинар.»

