//=== Tabs
article.tab.sec
  .container
    .tab__wrap
      ul.tab__list
        li.tab__list-item.tab__item--active #[span Что будет на интенсиве:]
        li.tab__list-item #[span О системе Николая Ягодкина]
        li.tab__list-item #[span Идеолог и автор технологий Advance Николай Ягодкин]

      .tab__block-list
        .tab__block-item.js-item.tab__item--active
          ul
            li.item-wrap #[span.item-circle 1]
              strong Учим новые слова с помощью «Технологии запоминания 100 иностранных слов в час», которая позволяет запомнить и 100, и 200, и даже 300 новых слов.
              br
              | (за 10-15 часов вы запомните более 1000 слов, необходимых для комфортного общения)

            li.item-wrap #[span.item-circle 2]
              strong Разбираем грамматическую тему до полного понимания по «Технологии структурирования грамматики через Mind Map».
              br
              | (мы построим в голове полную и понятную структуру грамматики, необходимой для общения и письма)

            li.item-wrap #[span.item-circle 3]
              strong Отрабатываем выученные слова и усвоенную грамматику до автоматизма в речи с помощью технологии «Паттерны».
              br
              | (15 часов работы с «паттернами» дает больший эффект, чем 100 часов интенсивной разговорной практики)
   
            li.item-wrap #[span.item-circle 4]
              strong Только доведенную до автоматизма в речи грамматику и лексику мы применяем на практике общения в интересных и веселых коммуникативных играх.
              br
              | (общаемся на уже отработанной лексике и грамматике и преодолеваем языковой барьер).

        .tab__block-item.js-item
          ul
            li.item-check Система объединила в себе самые эффективные, из существующих на данный момент в мире, 
              br
              | инструменты и алгоритмы обучения, запоминания и работы с информацией.
   
            li.item-check Отзывов о результатах применения наших технологий собрали больше,
              br
              | чем обо всех других авторах, методиках, школах данного направления вместе взятых.
   
            li.item-check Основа эффективной работы системы — «измеримость» результатов и «технологичность»
              br
              | процесса на всех этапах.
   
            li.item-check По нашей системе обучились более #[span 30 000] человек. 
              br
              | Среди них — министры и их дети, руководители крупнейших российских компаний, 
              br
              | мировые чемпионы, а также дети известных актеров, политиков, ученых и многие другие.

        .tab__block-item.js-item.tab__block-item--author
          .author
            .col.col-first
                .author__block
                  img(src="img/7Tech/photo-NJ.jpg" alt="author")
            .col.col-last
              .author__block
                h3.author__block-name Николай Ягодкин
                p.author__block-desc Самый известный в России специалист по технологии обучения и изучения языков.
                ul.author__list
                  li #[strong 2 высших педагогических образования], специалист по инновационным методикам обучения.

                  li #[strong Сертифицированный тренер] Российской Психотерапевтической Ассоциации (РПА) и Института им. Бехтерева.
        
                  li #[strong Преподавал в крупнейших ВУЗах] (СПбГУ, ФИНЭК, ИТМО, СЗАГС, Политех и др.) #[strong и Южной Корее] (университет Кемён Дэ)
        
                  li Сюжеты о его методиках показывали #[strong по Первому каналу, НТВ] и другим каналам.
        
                  li Его полные программы прошли #[strong более #[span 30 000] человек], бесплатные вебинары - #[strong более #[span 100 000]].
       
                  li Входит в #[strong ТОП-5 молодых миллионеров] премии Делового Петербурга.

    .tab__wrap--mob(hidden)

      .tab__mob-block
        .tab__list-name.js-nameMob Что будет на интенсиве:
        .tab__block-item
          ul
            li.item-wrap #[span.item-circle 1]
              strong Учим новые слова с помощью «Технологии запоминания 100 иностранных слов в час», которая позволяет запомнить и 100, и 200, и даже 300 новых слов.
              br
              | (за 10-15 часов вы запомните более 1000 слов, необходимых для комфортного общения)

            li.item-wrap #[span.item-circle 2]
              strong Разбираем грамматическую тему до полного понимания по «Технологии структурирования грамматики через Mind Map».
              br
              | (мы построим в голове полную и понятную структуру грамматики, необходимой для общения и письма)

            li.item-wrap #[span.item-circle 3]
              strong Отрабатываем выученные слова и усвоенную грамматику до автоматизма в речи с помощью технологии «Паттерны».
              br
              | (15 часов работы с «паттернами» дает больший эффект, чем 100 часов интенсивной разговорной практики)
   
            li.item-wrap #[span.item-circle 4]
              strong Только доведенную до автоматизма в речи грамматику и лексику мы применяем на практике общения в интересных и веселых коммуникативных играх.
              br
              | (общаемся на уже отработанной лексике и грамматике и преодолеваем языковой барьер).

      .tab__mob-block
        .tab__list-name.js-nameMob О системе Николая Ягодкина
        .tab__block-item
          ul
            li.item-check Система объединила в себе самые эффективные, из существующих на данный момент в мире, 
              br
              | инструменты и алгоритмы обучения, запоминания и работы с информацией.
   
            li.item-check Отзывов о результатах применения наших технологий собрали больше,
              br
              | чем обо всех других авторах, методиках, школах данного направления вместе взятых.
   
            li.item-check Основа эффективной работы системы — «измеримость» результатов и «технологичность»
              br
              | процесса на всех этапах.
   
            li.item-check По нашей системе обучились более #[span 30 000] человек. 
              br
              | Среди них — министры и их дети, руководители крупнейших российских компаний, 
              br
              | мировые чемпионы, а также дети известных актеров, политиков, ученых и многие другие.

      .tab__mob-block
        .tab__list-name.js-nameMob Идеолог и автор технологий Advance Николай Ягодкин
        .tab__block-item
          .author
            .col.col-first
                .author__block
                  img(src="img/7Tech/photo-NJ.jpg" alt="author")
            .col.col-last
              .author__block
                h3.author__block-name Николай Ягодкин
                p.author__block-desc Самый известный в России специалист по технологии обучения и изучения языков.
                ul.author__list
                  li #[strong 2 высших педагогических образования], специалист по инновационным методикам обучения.

                  li #[strong Сертифицированный тренер] Российской Психотерапевтической Ассоциации (РПА) и Института им. Бехтерева.
        
                  li #[strong Преподавал в крупнейших ВУЗах] (СПбГУ, ФИНЭК, ИТМО, СЗАГС, Политех и др.) #[strong и Южной Корее] (университет Кемён Дэ)
        
                  li Сюжеты о его методиках показывали #[strong по Первому каналу, НТВ] и другим каналам.
        
                  li Его полные программы прошли #[strong более #[span 30 000] человек], бесплатные вебинары - #[strong более #[span 100 000]].
       
                  li Входит в #[strong ТОП-5 молодых миллионеров] премии Делового Петербурга.

script.
  $('.tab__list-item').click(function(e) {
    var tabIndex  = $(this).index();
    $(this).addClass('tab__item--active').siblings().removeClass('tab__item--active');
    $('.js-item').eq(tabIndex).addClass('tab__item--active').siblings().removeClass('tab__item--active');
  });

  $('.js-nameMob').click(function(e) {
    var  elemParent = $(this).parent('.tab__mob-block');
          siblingsElem = $(this).parent('.tab__mob-block').siblings().find('.tab__block-item');
    elemParent.toggleClass('tab__mob--active').siblings().removeClass('tab__mob--active');
    elemParent.find('.tab__block-item').slideToggle(300);
    siblingsElem.slideUp(300);
  });