//=== ABOUT
section.about.sec
  .container
    h2.about__title Что входит в онлайн-пакет:

    //=== BLOCK 1
    .cont-wrap
      //=== About block
      .about-block.about-block--1
        //=== block left
        .about-block__left
          .over-title Мини-курс
          .title Фонетика английского онлайн
          .desc.desc--border Получите уверенный фундамент произношения

          //=== cost
          .cost
            del.cost__old 5 000 #[span.cost__rf &#8381;]
            .cost__new 3 900 #[span.cost__rf &#8381;]
          .btn-block
            button.btn.about__btn Купить отдельно
        //=== block right
        .about-block__right
          .title 5 живых видео-уроков по 2 академических часа
            span Обучение правилам произношения звуков английского языка и правилам чтения с упражнениями во время занятий и для самостоятельной работы.
          .desc.desc--border Вы познакомитесь с английскими звуками и различными буквосочетаниями, которые позволят правильно произносить даже незнакомые слова.

          .desc После прохождения курса Вы сможете приступить непосредственно к изучению слов и базовых грамматических конструкций
          .desc.desc--border
            small Курс рекомендован тем, кто собирается осваивать английский на уровне Beginner.


    //=== BLOCK 2
    .cont-wrap
      //=== About block
      .about-block.about-block--2
        //=== block left
        .about-block__left
          .over-title Мини-курс

          .title Английский
            br
            |словарный запас
            br
            |онлайн
          .desc.desc--border Проработайте самые часто употребляемые слова

          //=== cost
          .cost
            del.cost__old 10 000 #[span.cost__rf &#8381;]
            .cost__new 7 600 #[span.cost__rf &#8381;]
          .info Фонетика английского 
            br
            | + Английский словарный запас
          .btn-block
            button.btn.about__btn Купить
          .info Рекомендуется после первого уровня
            br
            | и не продается отдельно

        //=== block right
        .about-block__right
          .title 5 уроков:
          .untitle 1 и 2 уроки
            span
              br
              | Работа с образами: формирование, соединение.
              br
              small Фонетическое кодирование (основа мнемотехники для запоминания)
                br
                br
                | Видеоролики, объясняют теорию и позволяют сделать первое практическое задание вместе с преподавателем
                br
                | + содержат упражнения для самостоятельной отработки.

          .untitle 3 и 4 уроки
            br
            span Практика выучивания слов на готовых ассоциативных рядах

          .untitle 5 урок
            br
            span Практика с самостоятельным формированием ассоциаций.

          .desc.desc-border Участники выучат 100 слов наиболее употребимых и частотных слов по версии ведущих британских и американских центров.
            br
            | Уроки построены таким образом, что переход к следующему уроку невозможен, пока учащийся не продемонстрирует в тестах способность бегло узнавать выученные слова и по написанию, и на слух.


    //=== BLOCK 3
    .cont-wrap
      //=== About block
      .about-block.about-block--3
        //=== block left
        .about-block__left
          .over-title Индивидуальные занятия
          .title Английский
            br
            | репетитор
          .desc.desc--border
        //=== block right
        .about-block__right
          .title 5 живых индивидуальных занятий с преподавателем
          .desc.desc--border Отработка проблемных моментов в обучении, решение именно Ваших языковых проблем.
            br
            | Рекомендации к самостоятельному обучению.

          .warn.desc--border Можно приобрести только в пакете *
          .desc * Мы не можем гарантировать эффективность индивидуальных занятий без прохождения базовых ступеней, входящих в онлайн-пакет “Английский с нуля”.