//=== Block
section.block.sec
  .container
    .row
      .col
        .block
          .block__img
            img(src="img/eng/eng_start_online/learning.svg", alt="you get")
          .block__desc #[strong Знания] 
            br
            | Фундамент для быстрого 
            br
            | старта изучения языка

      .col
        .block
          .block__img
            img(src="img/eng/eng_start_online/work.svg", alt="you get")
          .block__desc #[strong Навыки] 
            br
            | Упражнения для доведения 
            br
            | навыков до полного автоматизма

      .col
        .block
          .block__img
            img(src="img/eng/eng_start_online/presentation.svg", alt="you get")
          .block__desc #[strong Контроль результата] 
            br
            | Мониторинг и поддержка 
            br
            | преподавателя

      .col
        .block
          .block__img
            img(src="img/eng/eng_start_online/repetitor-icon.svg", alt="you get")
          .block__desc #[strong Репетитор] 
            br
            | Индивидуальная отработка 
            br
            | с преподавателем



    .block-title Стоимость онлайн-пакета “Английский с нуля”:
    .cost
      del.cost__old 25 000 #[span.cost__rf &#8381;]
      .cost__new 17 500 #[span.cost__rf &#8381;]
    .btn-block
      a.btn.cost__btn купить