//=== About
section.about.sec
  .container
    h2.about__title Что будет на курсе:
    ul.about__list
      li Транскрипция.
      li Фонетика.
      li Несколько сотен наиболее часто используемых слов.
      li Наиболее простые грамматические конструкции.