//=== Helper
section.helper.sec
  .container
    h2.helper__title Курс поможет в любой поездке
    .row
      .col
        .helper__block
          .helper__img
            img(src="img/eng/eng_vacation/helper/handshake.svg", alt="helper")
          p.helper__name #[strong Знакомство] Уверенно знакомьтесь 
            br
            | и выгодно презентуйте себя

      .col
        .helper__block
          .helper__img
            img(src="img/eng/eng_vacation/helper/hotel.svg", alt="helper")
          p.helper__name #[strong Гостиница] Договаривайтесь о хороших 
            br
            | условиях проживания

      .col
        .helper__block
          .helper__img
            img(src="img/eng/eng_vacation/helper/cafe.svg", alt="helper")
          p.helper__name #[strong Кафе] Не отказывайте себе в привычных 
            br
            | лакомствах из-за незнания языка
      .col
        .helper__block
          .helper__img
            img(src="img/eng/eng_vacation/helper/navigation.svg", alt="helper")
          p.helper__name #[strong Ориентация на улице] Иногда быстрее спросить: всегда знайте, 
            br
            | куда вам нужно и экономьте время
      .col
        .helper__block
          .helper__img
            img(src="img/eng/eng_vacation/helper/airport.svg", alt="helper")
          p.helper__name #[strong Аэропорт] Чувствуйте себя как дома 
            br
            | в любом аэропорту мира

      .col
        .helper__block
          .helper__img.helper__img--sp
            img(src="img/eng/eng_vacation/helper/big-ben.svg", alt="helper")
          p.helper__name #[strong Достопримечательности] Будьте уверены, что выбрали 
            br
            | нужную экскурсию

    .btn-block
      button.btn.helper__btn.js-getModal(data-action="") Хочу уверенно общаться!