//=== Jumbotron
section.jumb.jumb--vacation
  .container
    .jumb__logo-wrap.jumb__logo-wrap--lighten
      .logo
        img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    .jumb__main-desc
      h2.jumb__title Экспресс-курс «Английский для путешествий»
        br
        span.jumb__desc Английский к отпуску
          br
          | за неделю!
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="") Преодолеть языковой барьер!