//=== Special
section.spec.sec
  .container
    h2.spec__title В чем особенность курса?
    p.spec__desc Курс построен на технологии погружения в пространство языка
      br
      | и игровые формы обучения.

    .spec__img
      img(src="img/eng/eng_vacation/london.png", alt="special")
    .spec__name Всего за неделю подготовиться к отпуску —реально!
    .spec__cost 13 900 ₽
    .btn-block
      button.btn.spec__btn Учить английский