//=== BLOCK-4
section.block-4.sec
  .container
    .block-wrap
      h2.block-title Что дает курс?
      p.block-desc Курс “Ментальная арифметика” поможет ребенку:
      .block-list
        li Повысить успеваемость в школе;
        li Разносторонне развиваться;
        li Развить фотографическую память;
        li Увеличить скорость восприятия информации;
        li Привить аналитическое мышление;
        li Развить инициативность и самостоятельность;
        li Привить уверенность в себе.