//=== BLOCK-3
section.block-3.sec
  .container
    h2.sec-title.block-3__title Продолжительность курса:
    .row
      .col
        .block.block--1
          .num 64
          .text академических 
            br
            | часа
        .block-desc общая продолжительность 
          br
          | курса
      .col
        .block.block--2
          .num 2
          .text раза
            br
            | в неделю
        .block-desc время проведения #[span с 18:00 до 20:00]
      .col
        .block.block--3
          .num 2
          .text академических
            br
            | часа
        .block-desc длительность каждого 
          br
          | занятия