//=== BLOCK-5
section.block-5.sec
  .container
    h2.sec-title.sec-title--red «Ментальная арифметика»
    .row
      .col
        .block
          .block__img.block__img--min
            img(src="img/mental/kid-gray.svg", alt="kid-gray")
          .block-desc Очный курс 
            br
            | для детей 
            br
            strong от 4 до 12 лет
      .col
        .block
          .block__img
            img(src="img/mental/calendar-gray.svg", alt="calendar-gray")
          .block-desc Старт курса: 
            br
            strong 18 сентября 
              br
              | 2017 года

      .col
        .block
          .block__img
            img(src="img/mental/wallet-gray.svg", alt="wallet-gray")
          .block-desc Стоимость: 
            br
            strong 7 900 #[span.cost__rf ₽] 
              br
              | в месяц
      .col
        .block
          .block__img
            img(src="img/mental/placeholder-gray.svg", alt="placeholder-gray")
          .block-desc Место проведения: 
            br
            strong Санкт-Петербург, #[br] #[span ул. Таврическая, 2]
    .btn-block
      button.btn.block-5__btn.js-getModal Записаться на курс