//=== BLOCK-2
section.block-2.sec
  .container
    .block-2__top-desc
      h2.sec-title.sec-title--red Как проходит обучение
      .sec-desc На занятиях происходит последовательное освоение навыка счета #[span с использованием] японских счетов (абакус) с постепенным переводом навыка от механического к умственному (ментальному)
    h3.sec-title.sec-title--red Ступени курса:
    .sec-desc Есть несколько ступеней в освоении навыка быстрого счета в голове. Каждая ступень занимает около 4 месяцев.

    .block-2__main-content
      .row
        .col
          .block.block--1
            .name 1 cтупень
            p.desc #[b Дети от 4 до 8 лет] могут производить #[span от одного] до трех математических действий #[span с двузначными] числами на абакусе, используя обе руки.

            p.desc #[b Дети от 8 до 12 лет] производят от одного #[span до трех] математических действий #[span с двузначными] числами как на абакусе, так и ментально;  учатся умножать на абакусе.
        .col
          .block.block--2
            .name 2 cтупень
            p.desc #[b Дети от 4 до 8 лет] производят #[span от одного] до трех математических действий с двузначными числами как на абакусе, так и ментально.
            p.desc #[b Дети от 8 до 12 лет] могут производить до 6 действий с двузначными цифрами на абакусе и до 3х действий #[span с двузначными] числами ментально, начинают  работать с отрицательными и дробными числами.
        .col
          .block.block--3
            .name 3 cтупень
            p.desc #[b Дети от 4 до 8 лет] могут производить до 6 действий с двузначными цифрами на абакусе и до #[span 3-х] действий с двузначными числами ментально.
            p.desc #[b Дети от 8 до 12 лет] учатся решать усложненные примеры на сложение, вычитание, умножение и деление на абакусе и ментально, делить с остатком.
        .col
          .block.block--4
            .name 4 cтупень
            p.desc #[b Дети от 4 до 8 лет] учатся умножать на абакусе.
            p.desc #[b Дети от 8 до 12 лет] учатся складывать и вычитать десятичные дроби, а также работают #[span с процентами]. Закрепляют навыки, полученные на предыдущих уровнях.
    .block-2__bottom-desc
      p.sec-desc Комфортные условия для максимального усвоения материала и возможность уделить время каждому ребенку.
      .warn-desc Группы от 4 до 10 участников

    .btn-block
      button.btn.block-2__btn.js-getModal Записаться на курс
