//=== BLOCK-1
section.block-1.sec
  .container
    h2.sec-title.sec-title--red Что это такое? 
    p.sec-desc Ментальная арифметика – это методика развития умственных 
      br
      | способностей детей, основанная на системе устного счета. 
      br
      | Обучаясь этой методике ребенок может невероятно быстро считать в уме. 
      br
      | Но самое главное, что в процессе прохождения курса ребенок разносторонне развивается.
    h3.title-min.sec-title--red Ментальная арифметика - это развитие:
    .row
      .col
        .block
          .block-img.block-img--min
            img(src="img/mental/brainstorm.svg", alt="brainstorm")
          .block-desc Обоих полушарий 
            br
            | мозга;
      .col
        .block
          .block-img
            img(src="img/mental/target.svg", alt="target")
          .block-desc Концентрации 
            br
            | внимания;
      .col
        .block
          .block-img
            img(src="img/mental/knowledge.svg", alt="knowledge")
          .block-desc Ассоциативного 
            br
            | мышления;
      .col
        .block
          .block-img.block-img--min
            img(src="img/mental/calculator.svg", alt="calculator")
          .block-desc Быстрого 
            br
            | и точного счета.