//=== JUMB
section.jumb
  .container
    .jumb__main-desc
      .jumb__flag Впервые в Advance!
      h1.jumb__title #[span Курс для детей #[span 4-12 лет]]
        | Ментальная арифметика
      .block-info
        time.jumb__date Старт курса: #[span 18 сентября]
        ul.jumb__list
          li Санкт-Петербург, #[span ул. Таврическая, 2]
          li Всего 7 900 рублей #[span в месяц]
      .jumb__main-info Запишите ребенка на курс прямо сейчас!
      .btn-block
        button.btn.jumb__btn.js-getModal Занять место на курсе