//=== Add
article.add.sec
  .container
    h2.add__title 8 уникальных методик скорочтения, 
    p.add__desc объединенных с техниками, направленными на расширение кругозора, улучшение внимания, дикции и памяти, обогащение лексикона и синхронизацию работы обоих полушарий мозга. По итогам курса обучения вы сможете запоминать больше и лучше обрабатывать полученную информацию, научитесь выделять главное, избавитесь от регрессии и проговаривания при чтении.  