//=== Offer
section.offer.sec
  .container
    h2.offer__title Длительность курса:
    .offer__content
      .row
        .col
          .offer__block
            .offer__name #[span 18]
              br
              | занятий за курс
            p.offer__block-desc с 10 июля по 18 августа 2017 года
        .col
          .offer__block
            .offer__name #[span 48]
              br
              | академических часов
            p.offer__block-desc каждое занятие по 2,5 академических часа
        .col
          .offer__block
            .offer__name #[span 3]
              br
              | занятия в неделю
            p.offer__block-desc понедельник, среда, пятница с 19:00 до 21:00

    //=== bottom offer block
  .offer__bottom
    .container
      p Курс “Эффективное чтение” позволит вам увеличить скорость чтения #[strong минимум в 2 раза], при этом значительно улучшив навыки запоминания и понимания информации. 
