//=== Teachers
section.teacher.sec
  .container
    h2.teacher__title Наши преподаватели:

    //=== Teacher slider
    .teacher__content
      .row

        //=== Slide block
        .col
          .teacher__block(style="background-image: url('img/reading/teacher/Mamontova.jpg');")
            .teacher__name Ольга Мамонтова
            .teacher__about Разработчик курса
              br
              | «Эффективное чтение»
              br
              | для учеников 7-8 классов

            .teacher__about Преподаватель курсов
              br
              | «Учись учиться», «Стань гением»
              br
              | и «Эффективное чтение» 

            .teacher__about Опыт работы с детскими 
              br
              | и взрослыми группами.

        //=== Slide block
        .col
          .teacher__block(style="background-image: url('img/reading/teacher/Komarova.jpg');")
            .teacher__name Ольга Комарова
            .teacher__about Преподаватель курсов
              br
              | «Эффективное чтение»
              br
              | и «Учись учиться»

            .teacher__about Преподаватель русского языка
              br
              | и литературы

            .teacher__about Опыт работы с детьми
              br
              | любого возраста
