// Clear fix
@mixin cf() {
  &:before, &:after {
    content: "";
    display: block;
  }

  &:after {
    clear: both;
  }
}

@mixin pos() {
  position: absolute;
  content: '';
  display: block;
}

// Normalize
@mixin normalize(){
    * {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    html,body {
        height: 100%;
    }
    body {
      font-family: 'Arial', 'Helvetica', sans-serif;
      font-size: 10px;
      line-height: 1.4;
      color: #000;
      background-color: #ffffff;
    }
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0;
        font-size: 100%;
        font-weight: normal;
    }
    b,strong {
      font-weight: 500;
    }
    small {
      font-size: 80%;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    button,input,optgroup,select,textarea {
      color: inherit;
      font: inherit;
      margin: 0;
    }
    legend{
        color: #000;
    }
    article,aside,blockquote,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    time, {
      display: inline-block;
    }
    ul,ol,li {
      list-style: none;
    }
    a {
        text-decoration: none;
        cursor: pointer;

      &:hover,
      &:focus,
      &:visited {
        text-decoration: none;
        outline: none;
      }
    }
    button {
      display: inline-block;
      overflow: visible;
      background-color: transparent;
      border: none;
      outline: 0;
      text-align: center;

      &:focus,
      &:active {
        border: unset;
      }
    }
    button,select {
      text-transform: none;
    }button,html input[type="button"],input[type="reset"],input[type="submit"] {
      cursor: pointer;
    }
    button[disabled],html input[disabled] {
      cursor: default;
    }
    button::-moz-focus-inner,input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
    input {
      border: 0;
      outline: 0;
      line-height: normal;
    }
    input[type="checkbox"],input[type="radio"] {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0;
    }
    input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
      height: auto;
    }
    input[type="search"] {
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
              box-sizing: content-box;
    }
    input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    input[type="text"]::-webkit-autofill {
      background-color: #fff!important;
    }
    img {
      display: inline-block;
      border: 0;
      width: auto;
      max-width: 100%;
    }
}

// Button
@mixin btn-red($maw) {

  @media (max-width: 480px) {
    font-size: 20px;
  }
  display: block;
  width: 100%;
  max-width: $maw;
  border-radius: 30px;
  background-color: $red;
  font-size: 30px;
  font-weight: 300;
  color: $white;
  text-transform: none;
  padding: 10px 0;
  margin: 0 auto;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $red;
    color: $red;
  }
}

@mixin btn-newRed($maw) {

  @media (max-width: 480px) {
    font-size: 20px;
  }
  display: block;
  width: 100%;
  max-width: $maw;
  border-radius: 5px;
  background-color: $red;
  font-size: 24px;
  font-weight: 300;
  color: $white;
  text-transform: none;
  padding: 10px 0;
  margin: 0 auto;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $red;
    color: $red;
  }
}

@mixin btn-trans($maw) {

  @media (max-width: 480px) {
    font-size: 20px;
  }
  display: block;
  width: 100%;
  max-width: $maw;
  border-radius: 30px;
  border: 2px dotted $white;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  color: $white;
  padding: 15px 0;
  margin: 0 auto;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $red;
    border: 2px dotted $white;
    color: $white;
  }
}

@mixin btn-newTrans($maw) {

  @media (max-width: 480px) {
    font-size: 20px;
  }
  display: block;
  width: 100%;
  max-width: $maw;
  border-radius: 5px;
  border: 2px dotted $white;
  background-color: transparent;
  font-size: 24px;
  font-weight: 500;
  color: $white;
  padding: 15px 0;
  margin: 0 auto;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $red;
    border: 2px dotted $white;
    color: $white;
  }
}

// JUMB middle

@mixin jumb-middle() {
  height: 100vh;
  min-height: 650px;
  max-height: 750px;
}

// Wave title 

@mixin wave-title($margin) {

  &--wave {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
      @media(max-width: 480px) {
        display: none;
      }
      position: relative;
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 4px;
      background-image: url('../img/eng/speak_spb/wave-line.png');
      background-repeat: no-repeat;
    }

    &:before {
      margin-left: -100%;
      background-position: right center;
      right: $margin;
    }

    &:after {
      margin-right: -100%;
      background-position: left center;
      left: $margin;
    }
  }
}

// Color mixin

// Logo wrap

@mixin main-logo($color) {

  &__logo-wrap {
    @media(max-width: $sm-screen - 1) {
      text-align: center;
    }
    @include cf();
    width: 100%;
    color: $color;
    border-bottom: 1px solid rgba($color, .6);
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 20px;

    &--color {
      color: $color;    
    }

    .logo {
    @media(max-width: $sm-screen - 1) {
      float: none;
    }
      float: left;
      margin-bottom: 0;
    }
  }

  &__logo-author {
    @media(max-width: $sm-screen - 1) {
      float: none;
      display: inline-block;
      text-align: center;
      padding-left: 0;
    }
    float: left;
    font-size: 12px;
    padding-left: 30px;
    padding-top: 25px;
  }

  &__logo-tel {
    @media(max-width: $sm-screen - 1) {
      float: none;
      display: inline-block;
      width: 100%; 
    }
    float: right;
    font-size: 30px;
    line-height: .8;
    padding-top: 30px;
  }
}

@mixin flag() {

  &__flag {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: 100%;
    max-width: 372px;
    height: 91px;
    background: url('../img/flag/flag.png') center no-repeat;
    background-size: cover;
    font-size: 30px;
    font-weight: 100;
    color: $white;
    padding-top: 20px;
    margin: 0 auto;
  }
}

@mixin bg-size(){
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}