// FONTS
$frank: 'Frank';
$lemon: 'Lemonad';
$fira: 'Fira Sans';
$nexa: 'Nexa Script';
$panton: 'Panton';
$muller: 'Muller';

// COLORS
$white: #fff;
$g-white: #fefefe;
$black: #000;
$l-black: #353535;
$ex-black: #313131;
// $red: #ed1c24;

// Light-red
// $red: #e2342e;

// orange red
$red: #f7554f;

$l-gray: #e6e6e6;

// SIZE

$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

