.top_btn {
  position: fixed;
  right: 0;
  bottom: 45%;
  height: 30px;
  width: 30px;
  background: $l-black;
  transition: transform .4s ease,opacity .4s ease;
  transform: translate(30px);
  cursor: pointer;
  z-index: 100;

  span {
      text-decoration: none;
      font-size: 16px;;
      transform: translate(10px, 10px);
      position: absolute;
      color: $white;
  }
}