//=== About
section.about.sec
  .container
    h2.sec-title О курсе:
    .row
      //- About block
      .col
        .about__block
          .about__img
            img(src="img/eng/about/calendar-3.svg", alt="about")
          h3 УДОБНЫЙ ФОРМАТ:
          p групповые занятия 
            br
            | 2 раза в неделю
            br
            | с 19:00 до 22:00
      // About block
      .col
        .about__block
          .about__img
            img(src="img/eng/about/engineering.svg", alt="about")
          h3 ОБУЧЕНИЕ ПО ТЕХНОЛОГИЯМ
            br
            | ADVANCE:
          p эффективность занятий
            br
            | в 3-5 раз выше, 
            br
            | чем на обычных курсах
      // About block
      .col
        .about__block
          .about__img
            img(src="img/eng/about/startup.svg", alt="about")
          h3 ВЫСОЧАЙШАЯ СКОРОСТЬ:
          p путь с "нуля"
            br
            | до свободного общения
            br
            | займет максимум
            br
            | 8 месяцев
      // About block
      .col
        .about__block
          .about__img
            img(src="img/eng/about/piggy-bank.svg", alt="about")
          h3 СМЕШНАЯ ЦЕНА:
          p от 4 900 ₽ за уровень
            br
            | и менее 300 ₽ 
            br
            | за академический час