//=== Coming
article.coming.sec
  .container
    .coming__content
      h2.coming__title Даты ближайших запусков:
      .coming__dates
        .coming__date-block Очно в Санкт-Петербурге, Таврическая ул., д. 2 
          br
          | Запуск уровней: Beginner 12 июня, 
          br
          | Elementary 12 июня.
