//=== Lesson
section.lesson.sec
  .container
    h2.sec-title Как проходит урок:
    .row
      .col
        .lesson__block
          .lesson__num.lesson__num--1 1
          p #[strong Мы вместе выучиваем 50-100 нужных cлов на готовых ассоциациях] по &#171;Технологии запоминания 100 иностранных слов в час&#187; Николая Ягодкина
            small (за 10-15 часов Вы запомните более 1000 слов, что больше чем вся школьная программа за 11 лет)
      .col
        .lesson__block
          .lesson__num.lesson__num--2 2
          p #[strong Разбираем грамматическую тему до полного понимания] по &#171;Технологии структурирования грамматики  через Mind Map&#187;
            small (технология позволяет не только разобрать и понять грамматику, но и со 100% точностью надолго ее запомнить)
      .col
        .lesson__block
          .lesson__num.lesson__num--3 3
          p #[strong Отрабатываем выученные слова и усвоенную грамматику до автоматизма в речи] с помощью технологии &#171;Паттерны&#187;
            small (час работы с &#171;паттернами&#187; дает больший эффект, чем 7 часов интенсивной разговорной практики! За час Вы формируете около 1500 фраз, что больше чем за месяц на обычных курсах)
      .col
        .lesson__block
          .lesson__num.lesson__num--4 4
          p #[strong Только доведенную до автоматизма в речи грамматику и лексику мы применяем на практике общения] в интересных и веселых коммуникативных играх

            small (в играх Вы не тренируете грамматику, а общаетесь на уже отработанной лексике и грамматике, что позволяет очень быстро убрать языковой барьер)
    .btn__block
      button.btn.lesson__btn.js-getModal(data-action="" data-title="") Записаться на курс