//=== Progress
section.progress.sec
  .container
    h2.sec-title Достижения advance
    .row
      //- Progress block
      .col
        .progress__block
          .progress__img
            img(src="img/eng/progress/earning-a-degree.svg", alt="progress")
          p #[strong Более 30 000 человек] прошли наши программы
      //- Progress block
      .col
        .progress__block
          .progress__img
            img(src="img/eng/progress/conference.svg", alt="progress")
          p #[strong Более 100 000 человек] посетили бесплатные семинары
      //- Progress block
      .col
        .progress__block
          .progress__img
            img(src="img/eng/progress/youtuber.svg", alt="progress")
          p #[strong Более 1 000 000 просмотров] наших видеоуроков и вебинаров в интернете
    arrticle.progress__sub
      .row
        .col
          .progress__block-sub
            .progress__img-sub
              img(src="img/eng/progress/documents.svg", alt="progress")
            p #[strong 53 человека] запомнили 1000 и более иностранных слов за один день
        .col
          .progress__block-sub
            .progress__img-sub
              img(src="img/eng/progress/checklist-and-pencil.svg", alt="progress")
            p #[strong Более 3500 человек] запомнили 300 и более иностранных слов за один день
        .col
          .progress__block-sub
            .progress__img-sub
              img(src="img/eng/progress/big-ben.svg", alt="progress")
            p #[strong Десятки наших студентов с "нуля"] освоили английский до уровня свободного общения менее чем за 3 месяца, более 1000 человек сделали это за 4-6 месяцев
        .col
          .progress__block-sub
            .progress__img-sub
              img(src="img/eng/progress/success.svg", alt="progress")
            p #[strong Десятки школьников] за 3-6 месяцев экстерном сдали 2-4 класса старшей школы
        .col
          .progress__block-sub
            .progress__img-sub
              img(src="img/eng/progress/certificate.svg", alt="progress")
            p #[strong Десятки студентов] сдали программу высшего  образования за 1-2 года