//=== BLOCK-2
section.block-2.sec
  .container
    h2.sec-title Цель курса - дать Вам:
    .row
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_kurs/evaluation.svg", alt="evaluation")
          .block__desc #[strong Измеримый результат]
            br
            | необходимый балл 
            br
            | на экзамене

      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_kurs/znania.svg", alt="znania")
          .block__desc #[strong Знания и навыки]
            br
            | для уверенного владения 
            br
            | английским языком
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_kurs/group.svg", alt="group")
          .block__desc #[strong Свободное общение]
            br
            | глубокое и интенсивное 
            br
            | языковое погружение 
            br
            | в англоязычную среду

      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_kurs/idea.svg", alt="idea (4)")
          .block__desc #[strong Уверенность в себе]
            br
            | личностное развитие 
            br
            | и мотивация для достижения 
            br
            | целей
