//=== BLOCK-3
section.block-3.sec
  .container
    .row
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_kurs/da.png", alt="Что будет на курсе")
          .block-name Что будет на курсе:
          ul.block-list
            li.list-item.list-item--plus #[strong Методики, которые дают] прогнозируемый, численно оцениваемый результат, заметный #[span в краткосрочной] #[span и среднесрочной] перспективе

            li.list-item.list-item--plus #[strong Учебные материалы] для качественного изучения тем #[span и самостоятельного] закрепления изученного

            li.list-item.list-item--plus #[strong Серия «поддерживающих» индивидуальных занятий] #[small (по дополнительному запросу после формального завершения курса #[span и до сдачи] экзамена)]
      .col
        .block-wrap
          .block__img
            img(src="img/eng/eng_kurs/net.png", alt="Чего не будет на курсе")
          .block-name Чего не будет:
          ul.block-list
            li.list-item.list-item--minus методик, которые дают отсроченный эффект, #[span а также] сильно зависят #[spna от индивидуальных] особенностей слушателя курсов

            li.list-item.list-item--minus бессмысленных и неэффективных упражнений
