//=== BLOCK-4
section.block-4.sec
  .container
    h2.sec-title.sec-title--red Технологии и система обучения

    .block-wrap
      ul.block-list
        li.list-item.list-item--1 Система объединила в себе самые эффективные, из существующих на данный момент #[span в мире,] инструменты #[span и алгоритмы] обучения, запоминания #[span и работы] #[span с информацией.]

        li.list-item.list-item--2 Отзывов о результатах применения наших технологий собрали больше, чем обо всех других авторах, методиках, школах данного направления вместе взятых.

        li.list-item.list-item--3 Основа эффективной работы системы — «измеримость» результатов #[span и «технологичность»] процесса на всех этапах.

        li.list-item.list-item--4 По нашей системе обучились более 30 000 человек. Среди них — министры #[span и их дети,] руководители крупнейших российских компаний, мировые чемпионы, #[span а также] дети известных актеров, политиков, ученых и многие другие.
