//=== BLOCK-1
section.block-1.sec
  .container
    h2.sec-title Как построен курс:
    .row
      .col
        .block-wrap
          .block-1__name.block-1__name--1 Практика
          .block-1__desc Отработка большого количества лексических единиц и паттернов по разным темам и аспектам экзамена #[strong (аудирование, чтение, письмо, говорение)]
      .col
        .block-wrap
          .block-1__name.block-1__name--2 Контроль результата
          .block-1__desc Каждый участник постоянно отслеживает свой прогресс в подготовке и анализирует, какие аспекты экзамена представляют для слушателей особую сложность. #[strong (регулярные тестирования, стартовый и итоговый тесты)]
