//=== Jumbotron
.jumb.jumb__eng-kurs
  .container
    .jumb__logo-wrap.jumb__logo-wrap--white
      .logo
        a(href="http://advance-club.ru")
          img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    //=== Jumb content
    .jumb__content
      .jumb__over-title Подготовка к ОГЭ 
        br 
        | по английскому
      h1.jumb__title Курс для подготовки к Основному Государственному Экзамену
        br
        | по английскому языку для школьников
      .jumb__untitle Английский на отлично - легко!
      time.jumb__date(datetime="2017-06-28") Старт курса #[span 11 сентября] #[span 2017 года]
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=-&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Записаться на курс