//=== TAB BLOCK
section.tab-block.sec
  .container
    h2.tab-title Занимайтесь в удобном для Вас формате:
    p.tab-desc (два формата одного курса)
    .table-main
      .table-wrap
        .table-block.table-block__first.active
          .line Формат курсов:
          .line Для кого курс:
          .line Требуемый уровень английского на входе:
          .line Продолжительность занятий:
          .line

        .table-block
          .table-block__inner
            .line
              .first-name Пролонгированный
                br
                b (8 месяцев)
            .line #[b.mob Для кого курс:] 9 класс
            .line #[b.mob Требуемый уровень английского на входе:]
             | Elementary
            .line 
              span #[b 60 дней по 2 часа в день]
                br
                | (всего 120 часов)
            .line
              a.btn.table__btn(href="") Купить

        .table-block
          .table-block__inner
            .line
              .first-name Полуинтенсив 
                br
                b (4 месяца)
            .line #[b.mob Для кого курс:] 9 класс
            .line #[b.mob Требуемый уровень английского на входе:]
             | Pre-Intermediate / Elementary
            .line 
              span #[b 32 дня по 3 часа в день #[br] + 3 дня по 8 часов в день] (интенсив в мае)
                br
                | (всего 120 часов)

            .line
              a.btn.table__btn(href="") Купить