@font-face {
  font-family: 'FONT';
  font-weight: 800;
  src: url('../fonts/FONT.otf') format('opentype'),
          url('../fonts/FONT.woff') format('woff'),
          url('../fonts/FONT.woff2') format('woff2');
}

