//=== Block
section.block.sec.speak-block
  .container
    .speak-block__wrap
      .iframe-block
        iframe(src="https://www.youtube.com/embed/GDgCTArTqII" frameborder="0" allowfullscreen)
      .speak-block__iframe-desc
        span Всего за 7 полных дней вы освоите всю необходимую для разговора и письма грамматику и переведете её в активный разговорный навык