//=== Cost
section.cost.sec
  .container
    h2.cost__title Интенсив-погружение 
      span «Разговорный английский»
    .cost__block
      .cost__old 25 900 #[span.cost__rf &#8381;]
      .cost__new 23 900 #[span.cost__rf &#8381;]

    .btn-block
      button.btn.cost__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1494857614.6268264847&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Заговорить на английском