//=== Jumbotron
.jumb.jumb__speak.sec
  .container
    .jumb__content
      .jumb__over-title Интенсив-погружение
      h1.jumb__title РАЗГОВОРНЫЙ АНГЛИЙСКИЙ
      p.jumb__desc Сверхинтенсивный курс разговорного английского, построенный на технологиях Николая Ягодкина. 
        br
        | Самый результативный формат изучения английского - от 1 до 2х уровней всего за 7 дней.

      time.jumb__date(datetime="2017-07-04") Очный курс 4-10 июля
      .jumb__address Санкт-Петербург, ул. Таврическая, 2
      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1494410207.503668175&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Заговорить на английском
      .jumb__bonus-block
        h3.jumb__bonus-name #[span +Бонус] Еще больше навыков в подарок!
        .jumb__bonus
          strong Для всех участников интенсива-погружения «Разговорный английский» 
            br
            | очный курс «Техника запоминания иностранных слов» 24 и 25 июня - бесплатно! 
          br
          | (Санкт-Петербург, ул. Таврическая 2, с 11:00 до 19:00)
