//=== Why
section.why.sec
  .container
    h2.why__title Почему интенсив – это эффективно? 
    .row
      .col
        .block
          .block__img
            img(src="img/eng/speak_spb/why/spacecraft.svg", alt="preview")
          p.block__desc #[span.red-class Вы быстро усваиваете информацию и формируете навыки.]
            br
            | В результате языковой барьер
            br
            | исчезает и нарабатывается
            br
            | беглость речи;
      .col
        .block
          .block__img
            img(src="img/eng/speak_spb/why/conversation.svg", alt="preview")
          p.block__desc #[span.red-class Вы сразу начнете говорить на английском,]
            br
            | не задумываясь о том,
            br
            | как построить фразу
            br
            | и подобрать нужное слово;
      .col
        .block
          .block__img
            img(src="img/eng/speak_spb/why/secure-shield.svg", alt="preview")
          p.block__desc #[span.red-class Авторские технологии,]
            br
            | которые мы используем на курсе,
            br
            | на данный момент являются
            br
            | самыми эффективными в мире
            br
            i (если вы найдете более
              br
              | результативную методику – 
              br
              | мы готовы заплатить вам 
              span.red-class.red-text 50 000 рублей);
      .col
        .block
          .block__img
            img(src="img/eng/speak_spb/why/presentation.svg", alt="preview")
          p.block__desc #[span.red-class Мы фокусируемся только на речевом навыке:] 
            br
            | никаких просмотров видео,
            br
            | выполнения тестов, чтения текстов
            br
            | или написания эссе — 
            br
            | мы разбираем грамматику
            br
            | на майнд-картах и учимся говорить
            br
            | через паттерны с закреплением
            br
            | в языковой практике и играх.