//=== BLOCK
section.block.sec
  .container
    h2.sec-title На вебинаре вы узнаете:
    .row
      .col.col-full
        .block-wrap
          .block-name.block-name--1.block-name--red Целеполагание
          ul.block-list
            li Пирамида Дилса и матрица Эйзенхауэра
            li Майндмап целей
      .col.col-full
        .block-wrap
          .block-name.block-name--2.block-name--red Самомотивация
          ul.block-list
            li Взаимосвязь желаний и целей
            li Внутренний саботаж как индикатор неправильной цели или пути
              br
              | ее достижения
            li Критерии истинности целей
      .col.col-full
        .block-wrap
          .block-name.block-name--3.block-name--red Адаптивность и управление
            | личностными ценностями
          ul.block-list
            li Персональная гибкость как основа лидерства в современном бизнесе
            li Интеллектуальная и поведенческая гибкость как ведущая компетенция
            li Что делать со стереотипами и шаблонами
              br
              | в мышлении?
            li Перфекционизм, фиксация, сопротивление как механизмы негибкого поведения – как с ними работать?
    .row
      .col.col-min.col-sm
        .block-wrap
          .block-name.block-name--4 Тайм-
            br
            | менеджмент
      .col.col-min.col-sm
        .block-wrap
          .block-name.block-name--5 Работа
            br
            | с информацией
      .col.col-min.col-sm
        .block-wrap
          .block-name.block-name--6 Управление
            br
            | коммуникациями
      .col.col-min.col-sm
        .block-wrap
          .block-name.block-name--7 Управление
            br
            | особенностями
            br
            | своей личности
    .row
      .col.col-min.col-md
        .block-wrap
          .block-name.block-name--8 Восстановление
            br
            | энергии
            br
            | и здоровья
      .col.col-min.col-md
        .block-wrap
          .block-name.block-name--9 Эмоциональный
            br
            | баланс
            br
            | и стабильность
            br
            | нервной системы
      .col.col-min.col-md
        .block-wrap
          .block-name.block-name--10 Управление
            br
            | личными
            br
            | взаимоотноше-
            br
            | ниями
      .col.col-min.col-md
        .block-wrap
          .block-name.block-name--11 Изменение
            br
            | отношений
            br
            | с деньгами