//=== Jumbotron
.jumb.jumb__personal.sec
  .container
    .jumb__logo-wrap.jumb__logo-wrap--lighten
      .logo
        img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    .jumb__content
      .jumb__over-title Бесплатный вебинар
      h1.jumb__title Личная эффективность 
        br
        | для менеджеров и руководителей

      time.jumb__date.jumb__date--calendar(datetime="2017-07-04") #[span 26 июля] в 20:00

      .jumb__info
        span.info Устаете от работы?
          br
          | Не успеваете, не смотря на планирование?
          br
          | Постоянно хотите в отпуск?
          br
        span.warn #[strong Хватит это терпеть!] Подключайтесь к трансляции

      .btn-block
        button.btn.jumb__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=--&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni") Подключиться