//=== BLOCK-1
section.block-1.sec
  .container
    h2.sec-title.sec-title--red На семинаре Вы:
    .row
      .col
        .block.block--line
          .block__img
            img(src="img/parents/presentation.svg", alt="presentation")
          .block__desc #[strong Получите набор конкретных #[br] рекомендаций и алгоритмов]
            br
            | повышения мотивации
            br
            | и эффективности обучения

      .col
        .block.block--line
          .block__img
            img(src="img/parents/analytics.svg", alt="analytics")
          .block__desc #[strong Узнаете про самые эффективные #[br] технологии обучения]
            br
            | и возможности их применить
            br
            | на своих детях
      .col
        .block.block--line
          .block__img
            img(src="img/parents/family.svg", alt="family")
          .block__desc #[strong Пообщаетесь с родителями #[br] и детьми,] которые применяют наши
            br
            | технологии и обучаются в 2-4 раза
            br
            | эффективнее сверстников

    h2.sec-title.sec-title--red а также узнаете:
    .row
      .col
        .block
          .block__desc.block__desc--check #[strong Как мотивировать] ребенка #[span на обучение]
      .col
        .block
          .block__desc.block__desc--check #[strong Какие инструменты] эффективного обучения можно и нужно использовать
      .col
        .block
          .block__desc.block__desc--check #[strong Как развивать память] #[span и внимание] у ребенка
      .col
        .block
          .block__desc.block__desc--check #[strong Какие формы обучения] существуют, их плюсы и минусы
      .col
        .block
          .block__desc.block__desc--check #[strong Как помочь ребенку] полюбить процесс обучения
      .col
        .block
          .block__desc.block__desc--check #[strong Как правильно выбрать] дальнейший путь
    .block-info Научите детей учиться с удовольствием!

    .btn-block
      button.btn.block-1__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1503914109.8747398339&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni/") Приду с ребёнком