//=== BLOCK-4
section.block-4.sec
  .container
    h2.block-4__title Узнайте, как научить ребенка учиться
    .date-block.block-4__date-block
      time.date-block__time 5 сентября 2017
      .date-block__address Санкт-Петербург, #[span Суворовский пр., 18] 
        br
        | Гранд-отель «Эмеральд»
        br
        | (ст.м “Площадь Восстания”)
    .btn-block
      button.btn.block-4__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1503914109.8747398339&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni/") Принять участие очно