//=== BLOCK-3
section.block-3
  .container
    .author.author--dt Николай Ягодкин —
      br
      | основатель и идеолог
      br
      | Центра образовательных
      br
      | технологий Advance.
      br
      | автор курса “Научите 
      br
      | детей учиться”
    .block-wrap 
      h2.block-3__name От автора:
      .block-quot
        blockquot Не секрет, что основной вид деятельности ребенка - это обучение, так как это трамплин для всей его дальнейшей жизни! Это своеобразная работа ребенка на первую треть жизни, результатом которой будет качество жизни следующие две трети. Учимся мы всегда для того, чтобы выполнять последующую работу быстро и качественно, а вот как выполнять нашу первую и самую важную работу - "обучаться", нас никто и не научил. К сожалению, ни в школе, ни в ВУЗе нас в действительности не учили, как правильно работать с информацией и эффективно учиться самостоятельно, выбирать нужную литературу, искать, запоминать, сохранять и повторять информацию, быстро читать, готовиться  к экзаменам, грамотно конспектировать, писать рефераты, отрабатывать навыки, простраивать план своего обучения и т.д

        strong Устранению этого пробела в обучении наших детей #[span и будет] посвящен наш семинар, приходите.

      .author.author--mob #[span Николай Ягодкин — основатель #[span и идеолог] Центра образовательных технологий Advance. автор курса “Научите  детей учиться”]
      .btn-block
        button.btn.block-3__btn.js-getModal(data-action="http://shop.advance-club.ru/subscribe/process/?rid[0]=1503914109.8747398339&doneurl=http%3A%2F%2Fadvance-club.ru%2Fconf_uni&activation=1&doneurl2=http%3A%2F%2Fadvance-club.ru%2Fthanks_uni/") Я приду