//=== BLOCK-2
section.block-2.sec
  .container
    h2.sec-title Программа семинара
    .row
      .col.col-full
        .block
          .block__name.block__name--1 Результат образования
          ul.block__list
            li Освоение образовательного стандарта (сдача экзаменов)
            li Воспитание личных качеств ребенка
            li Социализация и коммуникативные навыки
            li Навыки обучения и работы с информацией

      .col.col-full
        .block
          .block__name.block__name--2 Навыки обучения 
            br
            | и как их освоить
          ul.block__list

            li Технологии запоминания и сохранения #[br] информации
            li Нелинейное конспектирование
            li Многоуровневое обучение
            li Навыки освоения языков
            li Как научить ребенка учиться #[br] самостоятельно

      .col.col-full
        .block
          .block__name.block__name--3 Мотивация на обучение
          ul.block__list
            li Виды мотивации детей: результат/процесс
            li Как мотивировать на освоение "скучных" предметов
            li Приемы мотивации и их использование
            li Что делать, если ребенок ничего не хочет

    .row
      .col.col-min
        .block
          .block__name.block__name--4 Варианты
            br
            | обучения детей, 
            br
            | плюсы и минусы

          ul.block__list
            li Школа + дополнительные курсы
            li Семейное образование #[span и экстернат]
      .col.col-min
        .block
          .block__name.block__name--5 Воспитание
            br
            | личных качеств
            br
            | ребенка

          ul.block__list
            li Как научить ребенка принимать решения и нести #[span за них] ответственность
            li Как привить активную жизненную позицию
      .col.col-min
        .block
          .block__name.block__name--6 Социализация
          ul.block__list
            li Социализация в школе и вне ее, плюсы и минусы
            li Варианты социализации вне школы
      .col.col-min
        .block
          .block__name.block__name--7 Профориентация
          ul.block__list

            li Как ребенок выбирает профессию #[span и кто] влияет на этот выбор
            li Как помочь ребенку сделать правильный для него выбор