//=== Jumbotron
section.jumb.jumb--auto.sec
  .container
    .jumb__logo-wrap.jumb__logo-wrap--light
      .logo
        img(src='img/jumb-logo.png', alt='logo')
      span.jumb__logo-author Центр образовательных технологий
        br
        | Николая Ягодкина
      span.jumb__logo-tel 8 800 700-53-42
    .jumb__main-desc
      h2.sec-title Узнай, как за 2 месяца
        br
        | заговорить на английском
      span.jumb__untitle 7 видеоуроков от ведущего эксперта по изучению иностранных языков Николая Ягодкина
      p.jumb__desc--lem Cовершенно бесплатно
      time.jumb__date(datetime="2017-07-11") 11 июля
      button.btn.jumb__eng-btn.js-getModal(data-action="") Получить уроки
      .private-info Мы не передаем Ваши данные 3-м лицам